[2016-02-04 19:17] kordianbruck opened #9 "Alarm / notification system"
It would be great to have GCM on the iOS app as well in order to be able to support the Alarm feature on both platforms and maybe get better backing from the TUM through this.

The GCM message format is listed here: https://github.com/TCA-Team/TumCampusApp/wiki/GCM-Message-format

The GCM message does not contain all the information needed as that would probably exceed the size limit of the GCM pa

[2016-02-04 19:24] pfent commented on #9
GCM on iOS can probably be implemented via https://developers.google.com/cloud-messaging/ios/client?ver=swift

[2016-02-04 19:50] mathiasquintero commented on #9
Thanks!
I will start working on this right after the exams.
I'm still kind of fussy on the architecture of this thing and what role the TumCabe Backend plays in this and what is handled by Google.
I soon as I've read all of this, who should I go to for questions? @kordianbruck ?

[2016-02-04 19:59] kordianbruck commented on #9
The TumCabe backend holds the full information on the notification (e.g.: description text for the alarm). GCM is only there to initiate the connection and let the client know that there is new information to fetch. This saves battery power, as we do not have to deal with setup a long lived socket and MQTT ourselfs (Message queue).

Yea, ask me any time - I can give you all infos ;)

[2016-02-04 21:57] pfent opened #10 "unexpectedly found nil while unwrapping an Optional"
while testing the app, I got an error in CafeteriaManager.swift, Line 78. `location` is `nil`

[code]

[2016-02-04 22:18] mathiasquintero commented on #10
What? I never get errors with nil!!! I'm on it.
You ran it in the simulator? You probably didn't give it a location to simulate...

[2016-02-04 22:24] #10 closed

[2016-02-04 22:28] mathiasquintero opened #12 "Add MVV Information"
- [ ] Create a Card for the MVV Info and a Detail View.
- [ ] Perhaps even allow for search in the Universal Search Screen...

[2016-02-04 22:29] mathiasquintero opened #13 "Allow Rearranging Cards"
- [x] Rearranging Card Order
- [x] And which should be displayed.

[2016-02-04 22:30] mathiasquintero opened #14 "Add News"
- [x] Add Card and Detail View
- [ ] Perhaps add a Collection View with more than one Story at the same time.

[2016-02-04 22:32] mathiasquintero opened #15 "Implement all the actions in More"
- [x] Tapping on your user should take you to your information Screen.
- [x] About should take you to a detail view with the about information
- [x] Send Feedback should open a new email to the TCA Team
- [x] Logout

[2016-02-04 23:16] pfent commented on #10
jup. Tried the emulator for the first time ever and I don't no nothing yet [I know nothing](https://www.reddit.com/r/thingsjonsnowknows).

But thanks for fixing anyways :sparkling_heart:

[2016-02-04 23:29] mathiasquintero commented on #10
No Problem!

[2016-03-16 15:09] nerdsupremacist opened #16 "Chat Rooms"
Implement Chat Rooms
Probably Should go in a separate Tab.
Perhaps try to make it look like whatsapp or iMessage:

https://github.com/jessesquires/JSQMessagesViewController
or
https://github.com/rcmcastro/whatsapp-ios

Implement after the GCM

[2016-07-21 12:38] kordianbruck opened #17 "Buggy XML parsing"
The current implementation works, but its not really a great solution to first parse the xml and then cast it to json.

We need to improve the logic and make it neat and tidy to not have "spaghetti code"

[2016-07-21 12:42] mathiasquintero commented on #17
Hahaha, Damn I forgot about that. I was switching everything to another library...

[2016-07-21 13:06] kordianbruck commented on #17
Whats that new library? Anything I can do? Lets tackle these issues together :+1:

[2016-07-21 13:08] mathiasquintero commented on #17
Ah I'm almost done!

[2016-07-21 13:08] kordianbruck commented on #17
kk

[2016-07-21 13:10] kordianbruck opened #18 "Release first version in app store"
I'm currently working with the guys from the ITSZ to get an account rolling, so we can publish the app.

Hope to have everything set up by next week, so we can publish a first version starting with august.

[2016-07-21 13:15] mathiasquintero commented on #17
@kordianbruck while I have the project open ;) anything else you may have in mind?

[2016-07-21 13:16] kordianbruck commented on #17
Finish GCM and the alamierung, so we can publish the first version :+1:

5 minute job, right? :tada: :tanabata_tree:

[2016-07-21 13:16] mathiasquintero commented on #17
Obviously!!!

[2016-07-21 13:20] mathiasquintero commented on #17
Handled by https://github.com/TCA-Team/iOS/commit/427c93002339473e5ae79e27ddce63f990652fff

[2016-07-21 13:20] #17 closed

[2016-07-21 13:48] #15 closed

[2016-07-21 20:17] #14 closed

[2016-10-30 03:58] 13XxM1CHA3lxX37 opened #19 "Compiling not possible"
Sadly I'm not able tu build the app. Would be nice if there will be an update so that you can compile the app at least
![2016-10-30 4 57 23](https://cloud.githubusercontent.com/assets/20713070/19834399/88c047f4-9e5d-11e6-94ae-bffd52a8eb56.png)

[2016-10-30 10:01] mathiasquintero commented on #19
Just fixed it with the mother of all commits. There might be some new bugs as a side effect though

[2016-10-30 10:02] #19 closed

[2016-10-30 10:07] mathiasquintero opened #20 "Pods are not in gitignore"
I just noticed that the pods are not in the gitignore.

First we have to remove all the dependency sources.
Then we have to add the pods to the gitignore

[2016-11-03 21:47] 13XxM1CHA3lxX37 opened #21 "ASWeekSelector and others"
Various compilation problems with ASWeekSelector, CalenderViewController AYSlidingPickerView, MCSwipeTableViewCell, Alamofire, MCSwipeTableViewCell, SWXMLHash, SwiftyJSON
Most errors include "no such module". Tried to "fix" them by committing them with //, but did not help
![2016-11-03 22 30 53](https://cloud.githubusercontent.com/assets/20713070/19986109/ac8a33a0-a215-11e6-966d-fd0f3d29b745.png)

[2016-11-03 21:48] mathiasquintero commented on #21
@13XxM1CHA3lxX37 did you open the project or the workspace?

[2016-11-03 21:51] 13XxM1CHA3lxX37 commented on #18
I'm trying the same, but still did not get a response from them. Any updates on your side regarding this)

[2016-11-03 21:52] kordianbruck commented on #18
Please do not publish the app yourself. This will only lead to troubles for me to get this into the app store. I'm on it and have the partners contact info. I will check in again with them tomorrow in order to see what happened in the mean time.

[2016-11-03 21:55] mathiasquintero commented on #21
@13XxM1CHA3lxX37 did that work?

[2016-11-03 22:37] mathiasquintero commented on #21
@13XxM1CHA3lxX37 please just tell me if it worked so that I can close this issue

[2016-11-03 22:43] 13XxM1CHA3lxX37 commented on #21
That's embarassing right now. That was the problem

[2016-11-03 22:44] #21 closed

[2016-11-03 22:46] mathiasquintero commented on #21
please use the latest from master. I did find a few errors about 20 min ago

[2016-11-04 00:05] 13XxM1CHA3lxX37 commented on #18
With the same I did not mean publishing, but an enrollment at the iOS Developer University Program (mostly for testing purposes concerning certificates). Would also not be very purposeful as I did not contribute to the app.
That's good to hear. To me it seemed like you ran into problems as the thread looked a little orphaned, so I just wanted to ask :)

[2016-11-04 06:44] mathiasquintero commented on #18
Testing without certificates is not difficult. Since iOS 9 you can do it with a simple apple id

[2016-11-25 12:48] mammuth opened #22 "Silent Service"

[2016-11-25 12:49] mammuth opened #23 "MVV-Card"
Card that shows the next departures at the current location or the default campus.

Maybe including a filter, to only show relevant lines

[2016-11-25 12:51] mammuth opened #24 "Study Rooms"
https://campus.tum.de/tumonline/wbrisweb.status_mobile_mi

[2016-11-25 12:58] mammuth opened #25 "MVV malfunction card"

[2016-11-25 13:03] mammuth opened #26 "Plans"
- MVV Tram
- MVV complete
- Campus Garching
- Campus Klinikum
- Campus Olympiapark
- Campus Olympiapark Hallenplan
- Campus Arcisstraße
- Campus Weihenstephan

[2016-11-25 13:04] TheZoker commented on #22
http://stackoverflow.com/questions/10371312/mute-silence-an-ios-device-programmatically

[2016-11-25 13:07] mammuth opened #27 "Card for the next lecture"
see Android

[2016-11-25 13:09] mammuth opened #28 "Fix Room Finder Features to use the new API"
- [x] Search view with resultlist
- [x] Details view with map (switchable: Munich, Campus, building)

[2016-11-25 13:11] TheZoker commented on #26
Images with: https://developer.apple.com/reference/uikit/uiimageview
PDF with: https://developer.apple.com/reference/uikit/uiwebview

[2016-11-25 13:13] mammuth commented on #23
Nice, produced already the first dupe 😁

Closingas dupe of #12

[2016-11-25 13:13] #23 closed

[2016-11-25 13:14] TheZoker commented on #25
https://github.com/TCA-Team/TumCampusApp/blob/master/app/src/main/java/de/tum/in/tumcampusapp/cards/MVVCard.java

[2016-11-25 13:17] mammuth commented on #12
- [ ] Card for MVV malfunctions ("Störungsticker") #25

[2016-11-25 13:17] TheZoker commented on #24
https://github.com/TCA-Team/TumCampusApp/blob/master/app/src/main/java/de/tum/in/tumcampusapp/activities/StudyRoomsActivity.java

[2016-11-25 13:24] kordianbruck commented on #12
@mammuth that is a simple News card

[2016-11-25 13:29] #27 closed

[2016-11-25 15:51] mammuth opened #29 "TU Movie description is cut"
Not the whole description is displayed, but it's cut. Probably just a UI thing?<img width="380" alt="screen shot 2016-11-25 at 16 50 36" src="https://cloud.githubusercontent.com/assets/3121306/20630096/590d9624-b32f-11e6-8307-5a849af465fa.png">

[2016-11-25 16:48] kordianbruck commented on #25
This is not the MVV Card but rather a normal News Card

[2016-11-25 17:39] kordianbruck commented on #26
Please make sure to use the same procedure as with Android: download the files interactively and do not bundle them with the app, so we don't run into any legal hicups

[2016-11-25 17:40] kordianbruck commented on #24
You can find the API at: http://www.devapp.it.tum.de/iris/ris_api.php

[2016-11-25 23:21] mathiasquintero commented on #26
I don't understand what this means. You mean like the maps for the places?

[2016-11-25 23:23] mathiasquintero commented on #28
This is already implemented

[2016-11-25 23:33] kordianbruck commented on #26
@mathiasquintero these are the plans of the MVV that are implemented in the Android version

[2016-11-25 23:38] mathiasquintero commented on #28
@kordianbruck was the RoomFinder API deprecated? It doesn't seem to be working?

[2016-11-25 23:39] kordianbruck commented on #28
The roomfinder is implemented within the tumcabe API. No idea, if you already implemented that one or the legacy version of it.

[2016-11-25 23:40] mathiasquintero commented on #28
I was using http://vmbaumgarten3.informatik.tu-muenchen.de/roommaps/room/search?&s=<ROOM>

[2016-11-25 23:41] kordianbruck commented on #28
Yeah, thats the legacy one :tada:

[2016-11-25 23:42] mathiasquintero commented on #28
Was the model changed? Or do I just have to change the URL?

[2016-11-25 23:44] kordianbruck commented on #28
The guys who implemented that, kinda hacked it together here: https://github.com/TCA-Team/TumCampusApp/blob/32e18cf0e0647a6168c2a2dcd2afb0a2442b41ef/app/src/main/java/de/tum/in/tumcampusapp/tumonline/TUMRoomFinderRequest.java

(I know its a mess)

[2016-11-25 23:45] mathiasquintero commented on #28
It's reverse engineering time!!! Again.

[2016-11-26 00:28] #28 closed

[2016-12-03 15:50] mammuth opened #32 "Split storyboard into multiple files"
I'd like to refactor the storyboard into multiple files to prevent merge conflicts in the future. Any objections @mathiasquintero?

[2016-12-03 17:54] mathiasquintero commented on #32
go right ahead ;) Just tell us all so that no one touches the storyboards

[2016-12-04 18:04] mammuth commented on #32
Beside the setup wizard most of the scenes are highly coupled to others (at least most of the detail scenes are referenced from multiple scenes, like eg. firstly by the card scene and secondly by the search scene).
As a result it's kind of hard to break the scenes down to storyboards so that there is little coupling between the boards.

A possible refactoring might be to create a storyboard for ev

[2016-12-04 18:06] mathiasquintero commented on #32
Sounds good. You're basically saying we turn Storyboards into defacto XIB files

[2016-12-05 13:07] mammuth opened #33 "RoomFinder: Use map with smaller scale as default"
Currently the RoomFinder automatically shows the Munich map when searching for a room. I'd assume most users rather want to see a smaller map, so they find the room inside a building - and not the building inside Munich.

So I guess it makes sense to choose a smaller scaled map by default.

[2016-12-05 13:08] mammuth opened #34 "Add RoomFinder to "More" View"
Currently the only way to search for rooms is by using the search. A new user however doesn't know this feature exists.

There should be a reference in the more-view. I guess it might just open the search bar?

[2016-12-05 13:40] mammuth opened #35 "Add Default Campus"
Currently there is no logic regarding the default campus I think, right @mathiasquintero?

Based on the default campus a couple of behaviours change, like the cafeteria card or the MVV card (s. #12  "Add MVV Info").

[2016-12-05 13:42] mathiasquintero commented on #35
No there isn't any. I'd suggest just storing it somewhere in UserDefaults. Perhaps write a small wrapper for it

[2016-12-05 13:57] #32 closed

[2016-12-05 15:57] mammuth commented on #33
Since the Room-model is using a string representation for a rooms campus like "G" for Garching, we should probably do the Default Campus integration (#35) first to avoid duplications.

[2016-12-06 07:11] kordianbruck commented on #18
@mathiasquintero I'm getting the problem that the package is already registered. Any thoughts on that? @mammuth also talked to you about this - can you please elaborate on what the result of your private discussion was, so I can help with getting this published?

I think my account ist now unlocked for the Dev Program, but unsure about the next steps. Any tipps?

[2016-12-06 08:03] mathiasquintero commented on #18
Just change the Bundle Identifier a bit on your machine. Then it should work. The best way to not get these issues is for all of us to get on the university team so that we have the same signing identity

[2016-12-06 08:10] kordianbruck commented on #18
@mathiasquintero @TheZoker please send me your apple IDs via mail

[2016-12-06 08:26] 13XxM1CHA3lxX37 commented on #18
I still did not even get a reply by the TUM Cmit Team... How did you get your evaluation?

[2016-12-06 08:28] kordianbruck commented on #18
The CMIT Team is currently not adding any students. They are working things out on how to police this and they don't want to be responsible for any published apps.  Don't expect a reply, they don't answer emails usually.

[2016-12-06 08:31] 13XxM1CHA3lxX37 commented on #18
Oh okay. Thanks for the Information, that explains it.
Then I suppose I fell for an outdated guide.

[2016-12-06 08:31] kordianbruck commented on #18
That guide in the app wiki is from ancient times. No one knows why it is there. It should really be removed.

[2016-12-12 17:27] #33 closed

[2016-12-13 21:38] TheZoker commented on #20
Quoting the Cocopods Devs here:

[2016-12-14 00:36] mathiasquintero commented on #20
I'm mainly for adding them to gitignore for the sake of preventing merge conflicts. And I'm sure we all have cocoapods installed so it really isn't a problem... It's not necessary, but it feels like checking in the node-modules/ folder in a NodeJS project.

[2016-12-14 00:42] kordianbruck commented on #20
http://stackoverflow.com/questions/9446644/what-goes-into-your-gitignore-if-youre-using-cocoapods

Meh, lets keep em in then.

[2016-12-14 00:42] #20 closed

[2016-12-16 10:53] mammuth opened #40 "News: Card and list is showing most future news first"
The news-card is currently showing the event that's at position one of the api response. Currently that's a TU movie anytime in 2017.
The card should probably show the news which is the **next upcoming one**?

Same for the list of news - in Android this is solved by scrolling to the position of the closest news.

[2016-12-16 12:38] mammuth opened #41 "TU-Movie card not showing picture"
<img width="360" alt="bildschirmfoto 2016-12-16 um 13 37 53" src="https://cloud.githubusercontent.com/assets/3121306/21263052/dfc38a1e-c394-11e6-9d6a-bccd6838394b.png">

[2016-12-16 12:40] mammuth commented on #41
Ah, looks like that's a bug in the API:
https://tumcabe.in.tum.de/File/kino/The%20Hateful%208.jpg
cc @kordianbruck

[2016-12-16 15:35] mammuth opened #43 "Refactor use of TUMCabe news API?"
The news API (https://tumcabe.in.tum.de/Api/news/) currently contains 3 sources:
- TUM news
- TU movie
- ~~MVG Störungsticker~~

In Android the approach looks like this as far as I understand:
- Fetch items from the news/ endpoint once
- Get the closest TUM news and display it as card
- Get closest movie news and display as card
- Get closest Störungsticker news and display as card

In iOS we curr

[2016-12-16 16:00] mathiasquintero commented on #43
To make the design of the managers as easy as possible, perhaps we should introduce an enum to the news for this. Or does the model of the news vary?

[2016-12-16 16:15] mammuth commented on #43
I guess we can keep one generic news model for all three types of news - at least that's what the API seems to be doing.

[2016-12-16 22:18] kordianbruck commented on #43
![screenshot from 2016-12-16 23-17-33](https://cloud.githubusercontent.com/assets/298860/21280376/e6b420da-c3e5-11e6-964d-a68f9c201d0f.png)

Please make this dynamic. We have more than three news sources and there will be more. The Fachschaft MPI and Maschinenbau will be added in the coming weeks.

[2016-12-16 22:57] mathiasquintero commented on #43
@kordianbruck what exactly do you mean by dynamic? My question is how does the model look like? Will it change when it's a MPI news item? (are there extra properties for those?)

[2016-12-16 23:01] kordianbruck commented on #43
No, there will not be extra fields but more sources. For each source the latest card should be displayed. Except in the tufilm, it should be the next card.

[2016-12-17 10:16] mammuth opened #45 "Better explanation of the authorization step"
In Android there is a image showcasing what to do in TUMOnline, we should probably add similar explanations before releasing it.

<img width="375" alt="bildschirmfoto 2016-12-17 um 11 14 28" src="https://cloud.githubusercontent.com/assets/3121306/21286063/1036898e-c44a-11e6-8a07-eabc04c05851.png">

[2016-12-17 10:18] kordianbruck commented on #45
Please also take into account, that it is possible to activate via the link send to the email address

[2016-12-17 11:47] #40 closed

[2016-12-17 14:44] #45 closed

[2016-12-17 15:10] #34 closed

[2016-12-17 16:09] #13 closed

[2016-12-18 22:48] kordianbruck commented on #13
@mathiasquintero it would be great, if you could also use the Github Workflow with PRs instead of directly working on the master branch.

[2016-12-18 22:50] kordianbruck commented on #13
Guessing this was done in https://github.com/TCA-Team/iOS/pull/46 ?

[2017-01-25 06:21] mammuth opened #52 "Add Continuous Integration"

[2017-02-04 20:59] TheZoker opened #53 "Grades feature"

[2017-02-05 11:18] TheZoker commented on #53
Added with #54

[2017-02-05 11:18] #53 closed

[2017-03-05 17:47] mammuth opened #57 "Write some UnitTests"

[2017-03-06 10:05] #52 closed

[2017-03-07 20:24] mathiasquintero commented on #18
@kordianbruck what's the status on this? I actually just got a Developer Membership recently. If it's too much trouble with the university I can release it

[2017-03-07 20:25] kordianbruck commented on #18
@mathiasquintero did you get a company license?

[2017-03-07 20:27] mathiasquintero commented on #18
I got the regular one. If I release it, it would be under my name. But we can all work with it

[2017-03-07 20:28] kordianbruck commented on #18
I'm getting a company license. I think I can finally enroll next week after many emails between various parties. University is a no go on all front unfortunately.

If I can't get it by next week, I'll come back to your offer. Thanks @mathiasquintero

[2017-03-07 20:31] mathiasquintero commented on #18
@kordianbruck you mean the enterprise one? There's no need. That's thrice as expensive and is for releasing in-house software. Which we are not doing

[2017-03-07 23:00] kordianbruck commented on #18
Let me check that out first plox - I already got all the formalities done. Just waiting for some databases to update.

[2017-03-19 11:42] kordianbruck commented on #18
I finally got the submission through. It can only be a thing of weeks now. As far as I know it costs the same amount of money.

[2017-03-20 10:00] kordianbruck commented on #18
@mathiasquintero please send me your apple id - we can start deployment right away.

[2017-03-20 10:01] mathiasquintero commented on #18
me@quintero.io

[2017-03-20 12:39] kordianbruck commented on #18
![img_20170320_133237](https://cloud.githubusercontent.com/assets/298860/24100069/b15cb9de-0d72-11e7-95bc-42927b757b98.jpg)

Any ideas?

[2017-03-20 12:48] mathiasquintero commented on #18
My first instinct would be:
- Clean Build
- `rm-rf ~/Library/Developer/Xcode/DerivedData/*/`
- `pod repo update`
- `pod install`
- `pod update`

[2017-03-20 12:48] mathiasquintero commented on #18
I might have misspelled something but you get it. I'm on my phone

[2017-03-20 13:00] kordianbruck commented on #18
Except I don't have pods installed and can't get it on this managed mac - Clean Build didn't help.

[2017-03-20 18:00] mathiasquintero commented on #18
Cleaning DerivedData didn't help? That always helps

[2017-03-23 15:22] mammuth opened #61 "Create fastlane for delivering new version"
Public lane which more or less does:

- increment build number (version number?)
- fastlane snapshot
- fastlane deliver, also upload binary, submit for review

[2017-03-27 14:41] mammuth opened #63 "Rückmeldungs Reminder"
I think we're still missing a card which reminds the student to pay the fee for the next semester

[2017-03-27 22:08] kordianbruck opened #64 "Allow non TUM Students to use the app"
We need to allow to use the App without the TUM ID asap.

Who has time to do this in the current week?

[2017-03-28 06:42] mammuth commented on #64
Maybe also add 1-2 additional cards with Infos that are available without a lrz account.

How about a static card with links to resources for interested pupils about the studies at the TUM? This card can just be hidden when there is a logged in user.

[2017-03-28 06:49] mathiasquintero commented on #64
@mammuth I love the idea of tum.sexy. Where can I just get the links without the page?

[2017-03-28 06:50] kordianbruck commented on #64
Check the redirection/ folder in the repo. There is a routes.php file there containing only the redirections

[2017-03-28 06:52] mathiasquintero commented on #64
Yeah, but how can I best fetch them from the phone?

[2017-03-28 06:53] kordianbruck commented on #64
We could add an endpoint that would return the json? Would that work?

[2017-03-28 06:54] mathiasquintero commented on #64
That would be awesome

[2017-03-28 06:55] mammuth commented on #64
I'm off for work today, Kordian can you do the json endpoint?

[2017-03-28 06:56] kordianbruck commented on #64
Yup, will do in 45 mins

[2017-03-28 07:41] kordianbruck commented on #64
e voilá: http://json.tum.sexy/

[2017-03-30 19:29] kordianbruck commented on #18
Annnnnnnd we're live:
https://itunes.apple.com/us/app/tum-campus-app/id1217412716?l=de&ls=1&mt=8

[2017-03-30 19:29] #18 closed

[2017-03-30 20:20] melloskitten opened #65 "Crash: Plus Sign"
Hi! I'm running iOS 10.2.1 on my IPhone and ran into this issue.

Tapping on the + sign on your profile leads to the app crashing after 2-3 seconds

[2017-03-30 20:21] kordianbruck commented on #65
@melloskitten thanks for reporting this - we will look into it shortly

[2017-03-30 20:34] mathiasquintero commented on #65
That was quick. I think the API might have changed since iOS 10

[2017-03-30 20:49] mathiasquintero commented on #65
I'm not at my computer but my best guess is we're missing the privacy description string for getting access to the devices contacts.

We have to added it to the info.plist

[2017-03-31 08:03] #65 closed

[2017-03-31 08:20] kordianbruck commented on #65
#66

[2017-03-31 10:27] mammuth commented on #65
Cool!

Btw, you can auto-close issues on Github by using phrases like "closes/fixes #X" in the commit message.

[2017-03-31 10:29] melloskitten commented on #65
wooo thank you! Didn't know that! :dancer:

[2017-03-31 10:30] melloskitten opened #67 "Spinner Bug when there are no cards in Featured Tab"
I've run across a minor issue - If you have no cards enabled on your Featured Tab, and pull the screen down to refresh, the spinner simply keeps spinning forever. And if you decide to change the tab while the spinner is there, then return to the Featured Tab again, the spinner will stay in its place, frozen, and you are unable to refresh again.

Using IPhone 6, iOS 10.2.1

[2017-03-31 10:35] kordianbruck commented on #24
@mammuth will we be able to finish this till the next milestone @ 20.04 ?

[2017-03-31 11:23] mammuth commented on #24
The functionality is ready, it was @mathiasquintero who didn't like my absolutely sexy design, as stated in the PR #49.

So we can surely make it until the next release I think.

[2017-04-01 20:53] melloskitten opened #68 "Feature Proposal: New Card for Newest Grades"
How about a card that shows your newest Grade? I think it would be quite handy to just take a look at your TUM app and see your newest grade when you receive the email, instead of checking out the website - Or you can see all your grades at once for the semester you're in or something.

[2017-04-01 21:22] mammuth commented on #18
<img width="886" alt="screen shot 2017-04-01 at 23 18 08" src="https://cloud.githubusercontent.com/assets/3121306/24582507/a003e8d8-1731-11e7-93df-bc1ed0834b85.png">

Fun fact:
Apple didn't even review the app. 🙈

In order to use the app, they'd need to login to TUMOnline with the test account we provided them and set the permissions for a token.
They never logged in to do so (all those login atte

[2017-04-01 21:43] kordianbruck commented on #18
hahaha - I didn't even check. But then again we filled out the form so perfectly the first time, that they didn't bother really...

[2017-04-02 08:28] mammuth commented on #68
Nice idea.

This could be thought even further. We could have a background fetch which checks for new grades. Since this background operation is not needed most of the time, this check should only run during the couple of weeks (/months?) where exam grades are published most of the time.

It could be even smarter and disable the background fetch earlier when there are grades for all lectures/exams

[2017-04-02 10:33] kordianbruck opened #69 "License"
Heya,

so I just wanted to ask everyone to specify what their license ideas are. I saw a few comments like
[code]
which I'm not sure what *LS1* exactly is. I've currently release it under GPLv3 - is everyone alright with that?

[2017-04-02 10:35] kordianbruck commented on #68
One more thing: please do not save the grades on the phone. You can save an ID or something (no hash), but this is too critical to have stored somewhere. (Unless we start encrypting)

[2017-04-02 10:53] mammuth commented on #69
So I'd say the best idea is to have everyone who contributed so far to acknowledge that the code will be transitioned to a GPLv3 license here.

Afterwards we add the correct license header to all files.

I'm fine with having the TUM Campus App for iOS under the GPLv3 license.

[2017-04-02 17:07] mathiasquintero commented on #69
LS1 stands for Lehrstuhl 1. I was in their enterprise team back when I started the project and Xcode autocompletes with the name of the Team. We should update the headers.

I will need to reread the terms of GPLv3 to see if I'm ok with it :)

[2017-04-04 14:27] melloskitten commented on #68
Thank you. I'll see what I can come up with -!

[2017-04-04 14:28] melloskitten commented on #69
Thanks for mentioning me too haha :) I agree with the proposal to use the GPLv3 license. When should we update the Headers accordingly?

[2017-04-04 15:26] kordianbruck commented on #69
Quoting from https://choosealicense.com/licenses/gpl-3.0/

Basically: do what you want, but need to publish source under same license

[2017-04-05 15:30] kordianbruck opened #70 "Problems / Bugs from Userfeedback"
- [x] Unter more ganz oben wo anfangs der Name stand, steht jetzt nichts mehr #118
- [x] Klicke ich auf das Defaultbild im Kreis stürzt die App ab #118
- [ ] Noten, Tuition und Vorlesungen werden nicht mehr angezeigt (bei der ersten Benutzung der App wurden diese noch angezeigt)
- [x] Service und Default Campus lassen sich nicht öffnen #80

[2017-04-05 15:32] kordianbruck opened #71 "Calender: month overview"
User Feedback: "Eine Monatsübersicht wäre sehr nützlich "

[2017-04-05 15:33] mammuth commented on #70
Those features aren't implemented 🙈 So we should just hide these buttons in the More view

All other three issues sound like the app does not have access to TUMOnline anymore.

[2017-04-05 15:36] kordianbruck opened #72 "Poor performance due to missing caching"
So from what I've tested the app does not seem to cache most of the data. Most noticebly it happend several times that the app was unresponsive due to load some data (10-20 seconds in the case of the calendar).

We will run into problems with the TUM. Especially the calendar uses a lot of resources on their mainframe. That should be updated once every 7 days or so at the very most! (Ask @xsrf for

[2017-04-05 15:39] kordianbruck commented on #70
Well damn, why were those deployed :construction: :building_construction:

Is there a sync issue that the token is somehow not saved maybe? Or overwritten?

[2017-04-11 09:45] TG908 opened #73 "White border around cards when swiping to delete"
When trying to delete a card, a white border appears around the card.

![img_0693](https://cloud.githubusercontent.com/assets/7985149/24903021/659861ce-1eac-11e7-9602-01fc248b45b8.PNG)

[2017-04-11 10:30] TG908 commented on #73
#74

[2017-04-11 10:47] TG908 commented on #67
#75

[2017-04-11 19:42] TG908 commented on #12
The card could also display the departure times from the campus

[2017-04-11 21:11] TG908 opened #76 "Card showing rented books and their expiration dates"
TUM UB OPAC seems to have an api.
There is an opensource app for accessing [opac:](https://github.com/opacapp/opacclient)
Their api uses this: `"_id":"Muenchen_TU","city":"M\u00fcnchen","api":"sisis","title":"Unibibliothek TUM","account_supported":true,"_active":true,"state":"Bayern","_version_required":0,"information":"http://www.ub.tum.de/so-erreichen-sie-uns/oeffnungszeiten","data":{"baseurl":"

[2017-04-15 23:27] TG908 commented on #73
Fixed

[2017-04-15 23:27] #73 closed

[2017-04-15 23:28] TG908 commented on #67
Fixed

[2017-04-15 23:28] #67 closed

[2017-04-16 21:57] TG908 opened #82 "Card Design Update"
What do you guys think of adding labels to the cards with the card type: e.g. Mensa, News, TU Film ...

![simulator screen shot 16 04 2017 23 31 59](https://cloud.githubusercontent.com/assets/7985149/25074643/79ce2bb2-2300-11e7-9c73-7c188da434b8.png)

![simulator screen](https://cloud.githubusercontent.com/assets/7985149/25074685/c0b2ad4a-2301-11e7-8c90-5c40f82e622f.png)

[2017-04-16 22:00] mammuth commented on #82
I like the idea!

But I'd suggest a much more subtle, small, light grey text-only indicator maybe at the bottom right?

[2017-04-16 22:04] mathiasquintero commented on #82
We could try that. If it's greyed out it should be on the right. Maybe with an Icon

I personally think this one looks really nice. Perhaps a little shadow could help. And also fix the top layout constraints to be slightly more apart from the label.

[2017-04-16 22:08] TG908 commented on #82
@mammuth I wanted to bring in some more colors into our UI design. Because I think it looks a bit dull and monotone at the moment..

[2017-04-16 22:08] mathiasquintero opened #83 "Release Party - 1.1"
@mammuth and I were thinking it's about time to do a release Party!

I'd say that after the next release of 1.1 with all the bug fixes we can all celebrate together!

Since @kordianbruck is always so eager to organize things, I suggest he should be in charge.

[2017-04-16 22:09] kordianbruck commented on #83
Sure! Maybe i can organize a pizza party? Other ideas / suggestions?

[2017-04-16 22:10] mammuth commented on #82
Ha, I felt the same, so I made the study rooms loud and colorful. Which obviously was to much and @mathiasquintero didn't enjoy as much as I did.
Get your point. Sounds legit. 👍

[2017-04-16 22:10] TG908 commented on #82
![simulator screen shot 16 04 2017 23 31 59](https://cloud.githubusercontent.com/assets/7985149/25074707/4a35928a-2302-11e7-85ff-4650a1cfdcff.png)

[2017-04-16 22:11] TG908 commented on #82
I could change it to one single color maybe...

[2017-04-16 22:12] mathiasquintero commented on #82
@mammuth I didn't like it because it was too dominant and didn't go with the design we had going on. This does match

[2017-04-16 22:14] TG908 commented on #82
Ok ill try putting this into code soon with:
-  Labels on the left
- One single color

[2017-04-16 22:16] mathiasquintero commented on #82
I actually like the colors. Just be careful about your color choices.

[2017-04-16 22:24] TG908 commented on #82
The content should also be more colorful:
- green text on prices for mensa dishes
- red tution fee balance if > 0
- green tution fee balance if <= 0
-Maybe: color deadline green if 2+ months; left yellow < 1 month left; red one week left

[2017-04-16 22:26] TG908 commented on #72
We also need a mechanism to detect if the user enabled the token to access the calendar. And remind the user to enable it

[2017-04-16 22:29] mathiasquintero commented on #72
The calendar is the only thing being cached

[2017-04-16 22:30] TG908 opened #84 "Study room not yet implemented pop up even though its implemented"

[2017-04-16 22:31] mathiasquintero commented on #84
Ooops ;)

[2017-04-16 22:32] TG908 commented on #72
@mathiasquintero If the user forgets to enable calendar access on the first app launch he has to wait for 7 days to get a calendar?

[2017-04-16 22:33] mathiasquintero commented on #72
No. The Manager checks the last modified date of the file. If there's no file it tries to fetch the calendar again

[2017-04-16 22:36] TG908 commented on #72
Ok my calendar might have another issue then...

[2017-04-16 22:39] mammuth commented on #84
Oh, sounds like a one-by-off error? ^^
Or I did completely crap in the PR that introduced the alert.

On Mon, 17 Apr 2017, 00:31 Mathias Quintero, <notifications@github.com>
wrote:

--

*Maximilian Muth*

Kanalstr. 2a, 85748 Garching bei München

Mobil: 0152 5313 2065
E-Mail: kontakt@maxi-muth.de
Web: www.maxi-muth.de
LinkedIn: linkedin.maxi-muth.de
PGP Key: www.maxi-muth.de/files/pgp.asc

Teuer T

[2017-04-16 22:40] mammuth commented on #84
Ah, well. The study rooms PR introduced the menu item, so of course the indices aren't correct anymore.

[2017-04-16 22:42] mathiasquintero commented on #72
I'll check it anyway. Maybe the API has changed somehow

[2017-04-16 22:44] TG908 commented on #82
I really like this [desing](https://github.com/Ramotion/folding-cell) but im not sure if it fits into this app

[2017-04-16 22:56] TG908 commented on #24
Implemented

[2017-04-16 22:56] #24 closed

[2017-04-16 22:57] TG908 commented on #69
The license seems to have changed can we close this?

[2017-04-17 00:12] tgymnich opened #85 "Today Extension / Widget"
I would like to create a Today Extension (Widget) for some of the cards like:

- News
- Grades
- Cafeteria
- Tution
- Calendar
-...

**Problems:**
1.  How should I name the new Targets (one for each card)
2. How should we share Code between both Targets
3. How should we share Data between both Targets
4. Dealing With CocoaPods will be fun

**Possible solutions:**
1. NewsWidget, GradesWidget, ...
2

[2017-04-17 09:03] mammuth opened #89 "Prettify time until next lecture"
![image](https://cloud.githubusercontent.com/assets/3121306/25084556/760c3d54-235d-11e7-8a33-faec4b16c95f.png)

245 hours is no really useful information. Maybe we could say something like 10 days and 2 hours?

Or just completely hide this information as long as it's more than 24 hours or something like that?

[2017-04-17 09:26] mathiasquintero opened #90 "Refactor URLs"
Refactor the creation of URLs by writing all the baseURLs in a JSON file . And finally get rid of all the warnings from Sonarqube

[2017-04-17 09:40] mathiasquintero commented on #90
Sorry I closed the wrong issue 🙃

[2017-04-17 10:02] #64 closed

[2017-04-17 10:03] #84 closed

[2017-04-17 12:21] mammuth commented on #83
cc @TCA-Team/ios (so all are notified :) )

[2017-04-17 12:39] TG908 commented on #89
#91

[2017-04-17 13:00] TG908 opened #93 "Add a card for the MI Bistro"
It would be nice if we could somehow use the mi bistro menu from tum.sexy. And either integrate it into cafeteria card or create a new card

[2017-04-17 13:23] TG908 commented on #72
I did some performance analysis:

[2017-04-17 13:45] mathiasquintero commented on #63
Perhaps we should only show the tuition car when it's not paid and toggle a notification for it

[2017-04-17 13:45] kordianbruck commented on #72
yea, we should cache all the things!

[2017-04-17 13:45] TG908 commented on #89
Done

[2017-04-17 13:45] #89 closed

[2017-04-17 13:47] kordianbruck commented on #93
Yea, we really actually want to serve one endpoint from the main Tumcabe API that allows for that.

Check: https://github.com/TCA-Team/TumCampusApp/issues/127

[2017-04-17 13:47] TG908 commented on #72
sure

[2017-04-17 13:48] kordianbruck commented on #72
If you gonna spam the TumOnline API, they will turn it off for good. @xsrf right? :skull_and_crossbones:

[2017-04-17 13:48] TG908 commented on #93
Duplicate

[2017-04-17 13:48] #93 closed

[2017-04-17 13:49] kordianbruck opened #94 "Annoucement Poster"
We will have a grant from the F13 chair to print a few posters for the new iOS release.

Someone up to designing it? I think I have the PSD for the Android one somewhere... Let me know.

[2017-04-17 13:52] TG908 commented on #94
Some ressources: https://developer.apple.com/app-store/marketing/guidelines/#

[2017-04-17 13:56] kordianbruck commented on #69
No, we need to update the Files with the correct license header. Plus still waiting for @mathiasquintero

[2017-04-17 13:57] mathiasquintero commented on #69
Oopss sorry. Hehe. Forgot to answer. Yeah I read it. I'm cool

[2017-04-17 14:01] kordianbruck commented on #82
@TG908 I like the design! I think it fits.

Just make sure to open up an issue in the Android Repo so we stay on the same page. Thanks!

[2017-04-17 14:01] TG908 commented on #94
I cannot design this on my own, but i'd like to help. Can you post the old psd and maybe an image of the poster. Also which format is the poster gonna be? I only have Affinity Designer no Adobe Products.

[2017-04-17 14:02] TG908 commented on #82
Will do when design is final

[2017-04-17 14:07] kordianbruck commented on #94
The old Poster can be found here: https://tumcabe.in.tum.de/downloads/poster.png
You can use GIMP for editing PSD files. I have it at home I think - I can send it by Wednesday or something.

You can do for A0 if you want, we can always size it down to A1/A2 - not sure what they can print at the RBG.

[2017-04-17 14:28] mammuth commented on #63
👍

[2017-04-17 16:20] TG908 commented on #94
Thats my first basic draft:

![tca poster](https://cloud.githubusercontent.com/assets/7985149/25095102/6eb3d14c-239a-11e7-969f-cc493d5894f0.png)

[2017-04-17 16:25] TG908 commented on #94
Now I need your input (I know its very plain :D):

[2017-04-17 17:28] kordianbruck commented on #94
- Store icons should be both German or both English

The rest ist nice. Needs to actually be designed tho :grin:

[2017-04-17 17:59] TG908 commented on #94
Should i also link to the  [windows phone campus app](https://www.microsoft.com/de-de/store/p/tum-campus-app/9nblggh0fssk). I can sneak that into the qr so that when a windows phone scans the qr they will be redirected to the windows phone store

[2017-04-17 18:07] kordianbruck commented on #94
Ah yes: please make that QR Code point to the official website: https://tumcabe.in.tum.de/landing/

(If someone is good with PHP we can do the redirect there as well)

[2017-04-17 18:08] TG908 commented on #94
The QR already redirects ios to appstore android to google play and any other os to the website

[2017-04-17 18:10] kordianbruck commented on #94
And what website is that redirection running on / which service? I won't print something, that won't work in 2-3 years because some website stopped working. So: no URL shortening or other magic please.

[2017-04-17 18:11] TG908 commented on #94
http://onelink.to

[2017-04-17 18:11] kordianbruck commented on #94
yea, please don't. :+1:

[2017-04-17 18:12] TG908 commented on #94
Ok php then, can we use goo.gl for analytics?

[2017-04-17 18:13] kordianbruck commented on #94
We have analytics on the webserver already set up. Just put in tumcabe.in.tum.de in there and we can work from there in the https://github.com/TCA-Team/Backend project.

[2017-04-17 18:14] TG908 commented on #94
Ok

[2017-04-17 19:53] TG908 commented on #82
Thats how it looks at the moment:

![simulator screen shot 17 04 2017 21 53 48](https://cloud.githubusercontent.com/assets/7985149/25102319/55a6e7de-23b8-11e7-8243-754b297b1ed9.png)

[2017-04-17 19:58] TG908 opened #95 "Localisation"
At this point we should think about localizing our app because it is a mix of german and english at the moment. We should at least feature german and english. Maybe we can get the TUM Language Cafe involved, and translate the app in some more languages. We could just print some templates and leave them at the tables to be translated.

How is localization handled in the android app?

[2017-04-17 22:07] TG908 commented on #76
The TUM OPAC still uses TLS 1.0 but App Transport Security requires TLS 1.2. We could change NSExceptionMinimumTLSVersion but Apple might reject our app for that and we have to justify the use of TLS. 1.0 (we might be able to justify it becaue we have no control over the opac server)

[2017-04-17 22:21] mathiasquintero commented on #76
I doubt they will reject it for that. Apple tried to enforce the requirement for HTTPS for iOS 10.0 and waaaay too many Developers complained that they didn't have control over the APIs.

[2017-04-17 22:23] TG908 commented on #76
Well then id suggest using [Kanna](https://github.com/tid-kijyun/Kanna) for scraping the html

[2017-04-18 18:16] TG908 commented on #76
Got a proof of concept working (performing a login 👍)

[2017-04-19 08:53] TG908 opened #96 "Study room Notifications"
The user should be notified on demand with a push notifcation when a study room becomes available.

[2017-04-19 15:09] kordianbruck commented on #96
Okay, this needs to be more specific (For a specific room or in general? What if the room gets booked again within 5 minutes?). Also technically this is sketchy as there are little possibilities on how to run background services on iOS. Also why is this high priority? Please elaborate...

[2017-04-19 15:20] TG908 commented on #96
They can set the nofitication for all the rooms or for single specific rooms. We can run our own server sensing or the push notifications

[2017-04-19 15:21] TG908 commented on #96
The device then registers on our backend for notifications for all rooms or room x

[2017-04-19 17:01] kordianbruck commented on #95
Android: natively from the SDK supports translation of all strings via an .XML file. (Strings.xml)

[2017-04-19 17:02] kordianbruck commented on #82
It looks good! What about the idea in comment https://github.com/TCA-Team/iOS/issues/82#issuecomment-294378573 ?

[2017-04-19 19:12] TG908 commented on #95
Do we have any translated strings files?

[2017-04-19 19:15] TG908 commented on #82
Im not sure how long such a drastic design change will take. Depending on how long it takes i'd say we should do the swap in Version 1.1 or 2.0 if every one agrees.

[2017-04-19 19:18] TG908 commented on #76
I am now able to query the rented books and their due date. Integration into the campus app will begin soon.

[2017-04-19 19:58] kordianbruck commented on #95
Yes, you just need to check the different Values folders: https://github.com/TCA-Team/TumCampusApp/tree/master/app/src/main/res
(values-de/ru/fr/es/it)

[2017-04-19 20:00] kordianbruck commented on #82
Why will this be drastic? Because we are switching out the cards system?

[2017-04-19 20:03] TG908 commented on #82
Well we could try. I'm in.

[2017-04-19 20:07] kordianbruck commented on #82
I mean if you have the time - go for it! The thing looks awesome. One drawback of course is that if that lib is not maintained any longer you might be stuck with it. @mammuth @mathiasquintero @melloskitten what do you guys think?

[2017-04-19 20:19] TG908 commented on #82
I created a PR #97 for the new card label. If this is still needed. I will start working on adopting the new design.

[2017-04-19 20:45] kordianbruck commented on #76
Sounds great! Eager to see how this works :dancer:

[2017-04-19 21:59] TG908 commented on #76
@mathiasquintero It'll be nice if you could have a look at my manager class and my card. I might have made a mistake somewhere...

**Todo**
- [ Get Card working]
- [ Get manager working]
- [ Error handling and type safety]
- [ handle session timeouts]
- [ Prompt for password and safe password somewhere]
- [ Improve card (add table to display all the books rented)]

[2017-04-20 17:47] TG908 commented on #82
@kordianbruck So i tried the FoldingCell. It works however they did not include the table view design from the image. They only included the FoldingCell. If we want this to work we have to put a whole lot of work into this (Designing the new cards, the new interface inside the cards, ...). Check out my branch if you want to see it working (kinda).

[2017-04-20 18:09] mathiasquintero commented on #82
Yeah. The guys at ramotion make pretty videos. But their code isn't very good

[2017-04-20 20:05] TG908 commented on #82
Yeah i had a divide by zero when I set it up with the default values :S

[2017-04-20 20:21] TG908 commented on #82
I got it but i think it doesnt look quite right: I need to work on the background and cards
![simulator screen shot 20 04 2017 22 19 09](https://cloud.githubusercontent.com/assets/7985149/25250863/a96de7b2-2617-11e7-8383-ff1abbd2d712.png)
![simulator screen shot 20 04 2017 22 19 02](https://cloud.githubusercontent.com/assets/7985149/25250864/a99170f6-2617-11e7-94b2-ad06cf4bfbb1.png)

[2017-04-20 23:21] kordianbruck commented on #82
I mean it looks wow.

If your experience with the code is so bad tho, we might just not want to use it then. So if you say a lot of work, then I mean I trust your judgement. I'd rather have that time invested in some more features (Chat, MVV, etc.). For now: keep it on a branch and we can revisit it in 2-3 months after the bugfix release.

@mathiasquintero lets merge the current PR and have that i

[2017-04-21 00:12] mathiasquintero commented on #82
I think that if we add this and maybe the book rental card we can release the 1.1. And leave the rest for the 1.2

[2017-04-21 00:19] mathiasquintero commented on #72
I would move this to the release after 1.1. It's still High Prio. But it will require rethinking our architecture to add a caching layer without too much copy and paste

[2017-04-21 08:42] TG908 commented on #82
@kordianbruck the code is not that bad, the default values were the only problem I had, Performance is great on both iPhone 5s and iPhone 7. With a lot of work I mean:

- [ ]  restructure control flow of the UI
- [ ] improve card UI

[2017-04-21 21:33] kordianbruck commented on #82
I see - okay, lets move this to 1.2.

I actually like a white / grey / black background without much graphics.

[2017-04-22 23:18] TG908 commented on #82
Me too

[2017-04-24 15:20] mammuth opened #99 "Host SonarQube ourselves"
Currently our sonar-server is using sonarqube.com. However, sonarqube.com is a bit limited, as you eg. cannot add or change quality profiles. As a result I think there is no way to disable rules like _"Refactor your code to get this URI from a customizable parameter"_ or set certain rules as not critical.

Furthermore, on a dedicated install, we could use a custom swift quality profile like the fo

[2017-04-24 19:15] TG908 commented on #82
Got a new mockup:

![a99170f6-2617-11e7-94b2-ad06cf4bfbb1](https://cloud.githubusercontent.com/assets/7985149/25354342/ed46e704-2932-11e7-9cb8-f5ba7fd23fba.png)

To Do:

- [ ] Add shadows
- [ ]  Add stuff to the container View
- [ ] hook up all the labels to the code

[2017-04-25 21:11] mammuth commented on #41
I guess this was fixed in #78, right? Reopen if that's not the case.

Btw, @TG908 when you add a "fixes #X" to the commit message body of eg. the first commit to a branch, the issue gets closed automatically when merging the branch into master :+1:

[2017-04-25 21:11] #41 closed

[2017-04-25 21:15] kordianbruck commented on #83
Lets do it next Monday 1.5. Please vote for either of these four locations:

1. Garching MI
2. Stammgelände (Does someone aware of any rooms that are accessable?)
3. Karlstrasse in the office
4. ??? Suggest something

Program: order pizza and code for 3-4 hours. Get crazy!

@TCA-Team/ios @TCA-Team/android @TCA-Team/backend

[2017-04-25 21:16] mammuth commented on #83
1. Garching MI
4. Maybe C2?

[2017-04-25 21:57] TG908 commented on #41
The movies still appear in the news card but I fixed the scaling and position of the image view

[2017-04-25 22:21] mathiasquintero commented on #83
Is the C2 open on the 1st? Because then beer sounds like a plan

[2017-04-26 12:00] kordianbruck opened #103 "Calendar Details (exact time and room)"
"Im Calendar wäre es gut, wenn man die genauen Zeiten sieht, sobald man auf eine Veranstaltung klickt. Oder dann vielleicht zu den Veranstaltungsinformationen weitergeleitet wird. "

[2017-04-26 12:01] kordianbruck opened #104 "Chose which mensa to display in card"
Ideally this will be GPS based, as it is in the Android App - but for now let the user chose which mensa should be displayed on the featured page.

[2017-04-26 12:02] mathiasquintero commented on #104
Right now it's gps based

[2017-04-26 12:03] kordianbruck commented on #83
I wrote them a mail, but sure, lets do that then! (Food ain't great there, but they have decent beeeeeeer :beers: )

[2017-04-26 12:07] kordianbruck commented on #104
Alright, didn't know. I just got it from a student as a feedback. I'll let him know then.

Are you using geofencing as well? Or are you simply doing a distance kind of thing?

[2017-04-26 12:07] #104 closed

[2017-04-26 12:08] mathiasquintero commented on #104
Only distance. However, we could let the manager know which class you have right now and which mensa is closest.

Should we have that in the roadmap for both?

[2017-04-26 12:10] kordianbruck commented on #104
I mean we could maybe add some fancy switching UI or something? Lets discuss this next monday.

[2017-04-26 12:11] mathiasquintero commented on #104
Yeah. I just thought it would be cool if we could make it more context aware

[2017-04-26 13:26] TG908 commented on #103
and the room

[2017-04-26 13:46] mathiasquintero commented on #103
Then we could listen for URL calls and intercept when someone opens a link and show it in the app

[2017-04-26 17:17] kordianbruck commented on #83
C2 is closed on monday @mammuth @mathiasquintero - so whats it gonna be?

[2017-04-26 17:42] mammuth commented on #83
I cast my vote for Garching MI.

What about all others, use your voice! But wisely. @TCA-Team/ios @TCA-Team/android

[2017-04-26 17:55] mathiasquintero commented on #83
MI works great for me

[2017-04-26 19:14] TG908 commented on #83
MI

[2017-04-27 07:33] TG908 opened #105 "Slack Group"
We should have our own slack group for sharing ideas and asking questions.

[2017-04-27 07:35] mathiasquintero commented on #105
+1

[2017-04-27 08:19] kordianbruck commented on #105
Please use Gitter:

https://gitter.im/TCA-Team?utm_source=share-link&utm_medium=link&utm_campaign=share-link

Thanks!

[2017-04-27 08:19] #105 closed

[2017-04-27 11:22] TG908 commented on #82
Card View looks really dope right now

[2017-04-29 18:59] mathiasquintero opened #107 "Move sensitive Data to keychain"
Update Sweeft to 0.8.1 and update `PersistentUser` to use Keychain.

[code]

*And* store the data for the BookRentals API in the same way or even inside the persisted user

[2017-04-29 20:56] TG908 commented on #107
@mathiasquintero have you used the objc keychain wrapper for your implementation or did you write your own?

[2017-04-30 06:03] mathiasquintero commented on #107
Wrote my own https://github.com/mathiasquintero/Sweeft/blob/master/Sources/Sweeft/UserDefaults/Keychain.swift

I needed it on another project as well. Plus I wanted to learn how that API works

[2017-04-30 12:46] mammuth commented on #96
What do you think when a user requests push notifications? Do you expect them to unregister again? Should notifications for all rooms be triggered when an occupied room becomes free or only if there is no free room and then an occupied room becomes free? Are notifications only send when the user is near the room (and not at eg home)?

I guess there are even more open UX questions.

When I search f

[2017-04-30 13:10] TG908 commented on #96
If you're sitting in the magistrate you might still want to change to a study room if one becomes available. The user will only be notified once and can choose to get notifications for every room or a few selected rooms.

[2017-04-30 13:11] TG908 commented on #107
Great so we can get rid of the objective c

[2017-04-30 13:35] mammuth commented on #96
Seems legit. It also makes sense to unsubscribe automatically after one notification. Cool!

[2017-04-30 14:10] TG908 commented on #96
Any special requirements for the backend. I'd go for swift (vapor) or go

[2017-04-30 15:05] mammuth commented on #96
The current backend is already using GCM to send push notifications to android and it's planned to use the same backend to send notifications to the iOS app as well.
Other feature that will be based on the current backend (and need push notifications) are eg. the alarm service (#9) or the chat (#16).

We can discuss / implement this tomorrow when we meet (together with @kordianbruck since we proba

[2017-04-30 19:01] TG908 commented on #83
Which room?
What time?

[2017-05-01 11:38] mammuth commented on #83
16:00! :tada:
And maybe just meet at the Magistrale and then find out where to stay best.

[2017-05-01 14:49] kordianbruck commented on #83
@TG908 we are in 00.08.036

[2017-05-01 14:49] #83 closed

[2017-05-01 15:39] kordianbruck opened #108 "Feedback E-Mail: add iOS to subject"
maybe we can also get app & os version in the body prepopulated?

kthxbye

[2017-05-01 16:26] TG908 opened #109 "Grades and Books should each be displayed in a single card"
Todo: Create dedicated model for each of these cards

[2017-05-01 17:40] TG908 opened #110 "Grades are not sorted"

[2017-05-01 18:40] TG908 opened #111 "Report app crashes"
Reporting crashes does not seem to be that simple. Here are some articles i found:

[blog.sentry.io](https://blog.sentry.io/2017/04/11/ios-symbolication-troubles.html)
[landonf.bikemonkey.org](http://landonf.bikemonkey.org/code/objc/Reliable_Crash_Reporting.20110912.html)

[2017-05-02 21:31] #108 closed

[2017-05-03 11:35] TG908 opened #115 "Replace objc KeychainWrapper with Sweeft KeychainWrapper"

[2017-05-03 11:48] #115 closed

[2017-05-03 11:48] TG908 commented on #115
duplicate

[2017-05-03 14:11] nerdsupremacist opened #116 "Handle TUMOnline Links"
We could register for the TUMOnline URLs so that when someone opens a link (eg: in Mail) it should open the App instead of Safari

[2017-05-03 14:35] kordianbruck commented on #116
I mean yes, we could. But this would not be an improvement over opening it in the browser, as the user still has to login.

[2017-05-03 14:43] mathiasquintero commented on #116
Well, we wouldn't have to log in if we have permissions to open the grades, calendar, etc.

If you get an email about your new grades and click on the link the app would show you your grade.

[2017-05-03 19:21] kordianbruck commented on #116
Yea, that would be nice. Well if you can catch this so exactly, that would be great.

Another idea: you can still do the login part for the user, as you are saving the credentials for opac no?

[2017-05-03 19:25] mammuth commented on #116
The mapping between TUMOnline's URL scheme and our views might be tricky I think.

True, that'd be a useful feature! 👍 Beside just catching links, we could also add TUMOnline to the app as a webview in order to auto-login the user.

[2017-05-03 19:30] TG908 commented on #111
Thats how a stack trace might look:
`Thread 0 name:  Dispatch queue: com.apple.main-thread
Thread 0 Crashed:
0   Campus                        	0x00000001000505d8 0x100010000 + 263640
1   Campus                        	0x000000010004fce8 0x100010000 + 261352
2   UIKit                         	0x000000018b84f114 0x18b4fa000 + 3494164
3   UIKit                         	0x000000018b84f32c 0x18b4fa000

[2017-05-03 19:32] TG908 commented on #111
The trace first has to be symbolicated... [Apple Doc](https://developer.apple.com/library/content/technotes/tn2151/_index.html)

[2017-05-03 19:35] kordianbruck commented on #111
Is there no error message or line number? Wow.

[2017-05-03 19:37] mammuth commented on #111
What, it isn't enough for you to look at memory dumps to reproduce bugs!? 🙈 🤣

[2017-05-03 19:38] TG908 commented on #110
fixed in #101

[2017-05-03 19:38] #110 closed

[2017-05-03 19:39] TG908 commented on #111
@kordianbruck there is now interpreter running for swift so i dont think there is a line number associated with a crash.

[2017-05-03 19:40] TG908 commented on #111
However there is an exception:
[code]

[2017-05-03 19:42] kordianbruck commented on #111
Which also looks like garbage.

What about this? https://stackoverflow.com/questions/7841610/xcode-4-2-debug-doesnt-symbolicate-stack-call/7896769#7896769

[2017-05-03 19:44] TG908 commented on #111
I'd rather go for a more "professional" library than hacking my own thing together

[2017-05-03 19:47] kordianbruck commented on #111
Sure, if it complies with German data privacy laws, we can think about some of them. Any suggestions?

[2017-05-03 19:48] TG908 commented on #111
Not yet

[2017-05-03 20:00] TG908 commented on #82
implements #76

[2017-05-03 20:06] TG908 opened #117 "Does it make sense to keep this class"
Used for the TableView Cells (as some kind of template (abstract class)) not in the Card view:

[code]
We can make every cell a UITableViewCell and just implement setElement(_:)

Or we could make it a protocol which would be better performance wise and would produce a cleaner code.

[2017-05-03 20:32] TG908 commented on #35
Should the user be able to select a favorite cafeteria in the same view?

[2017-05-04 07:19] TG908 commented on #111
I think the Apple App Analytics might be an option for us: [Apple](https://developer.apple.com/app-store/app-analytics/)

[2017-05-04 19:35] TG908 commented on #111
Is someone able to get any crash logs by using this method? [Xcode](https://developer.apple.com/library/content/documentation/IDEs/Conceptual/AppDistributionGuide/AnalyzingCrashReports/AnalyzingCrashReports.html)

[2017-05-04 21:02] TG908 opened #118 "More View crashes/doesnt display name"
When the user is having a bad internet connection (try Network Link Conditioner edge for example) in the More Table View the users name is not loaded and clicking on the blank card is causing a crash.

[code]

This code tries to update the view when the user is set. When the user is having a bad internet connection the user is set but `user.data` is not yet set. This will:

- cause a crash in the

[2017-05-05 22:08] kordianbruck commented on #35
@TG908 you mean per campus? If you can sure! But I think most only have one cafeteria on a campus. No?

[2017-05-07 21:50] mathiasquintero opened #121 "User Details don't always match the exact user"
See Ticket #880490

So far we get the user details by a search with the exact name and filter the list a bit afaik. Perhaps tinker with the filtering a bit or try to fetch it from the LRZ id.

[2017-05-08 08:44] TG908 opened #122 "App does not return to login screen after token is deleted in TUM Online"
When I deleted all my tokens in tum online, the app didnt display the login screen nor displayed me as a Stranger. The app crashed when i tried to click on my name. (#118) The calendar kept working (cache).

[2017-05-08 18:38] kordianbruck commented on #122
Nice! I thought I tested this already and was amazed by the claims last monday, when someone said it would logg off automatically :P

[2017-05-08 21:50] TG908 commented on #122
The user model needs some more work...

[2017-05-09 20:44] mammuth opened #123 "Login issues"
There are several users who complain not being able to get to the cards view after clicking authorization after enabling the tokens.

[2017-05-09 20:49] mammuth commented on #123
Related tickets:
http://tca.exgen.io/scp/tickets.php?id=204
http://tca.exgen.io/scp/tickets.php?id=207
(Send them mails when we fixed this)

[2017-05-10 15:00] mammuth opened #124 "Picker views don't hide automatically"
The picker views don't hide automatically when they are open and the user navigates back. This occurs at least with the following views (add more when you find/remember them):
- Cafeteria Chooser
- Study Room Buildings
- Room Finder
- ...

Related support tickets (tell them via mail when this is fixed):
- http://tca.exgen.io/scp/tickets.php?id=209

[2017-05-10 15:20] TG908 opened #125 "Show room number in calendar"
I heard from multiple users, that they want the room numbers to appear in the calendar.

[2017-05-10 15:39] mammuth commented on #125
Closing as duplicate of https://github.com/TCA-Team/iOS/issues/103

[2017-05-10 15:39] #125 closed

[2017-05-10 17:13] TG908 commented on #124
Also the arrow doesn't update when you dismiss the picker by tapping anywhere

[2017-05-11 13:53] mammuth commented on #103
Folgende User per Mail informieren:
- https://tca.exgen.io/scp/tickets.php?id=211
- https://tca.exgen.io/scp/tickets.php?id=195
- https://tca.exgen.io/scp/tickets.php?id=206

[2017-05-11 22:21] #124 closed

[2017-05-11 22:34] kordianbruck opened #130 "Release the Kraken (New Version)"
Any takers? @mathiasquintero @mammuth :heart:

Need someone to compile, tag and upload the new version.

[2017-05-11 22:54] mathiasquintero commented on #130
I can do it. Are we using Fastlane for the release or should I do it manually?

[2017-05-12 06:49] mammuth commented on #130
Did it manually last time because I hadn't set fastlane up.

But fastlane deliver should work! We can also update the Screenshots,
currently the calendar screenshot doesn't show any events.

On Fri, 12 May 2017, 01:34 Mathias Quintero, <notifications@github.com>
wrote:

--

*Maximilian Muth*

Kanalstr. 2a, 85748 Garching bei München

Mobil: 0152 5313 2065
E-Mail: kontakt@maxi-muth.de
Web: www.maxi

[2017-05-12 09:21] TG908 commented on #130
Please remember to update `Bundle versions string, short` and `Bundle version` in info.plist.
Those values are used for the app version in the support mail body

[2017-05-12 09:28] mammuth commented on #130
Btw, we should also start editing the changelog in the meta folder when creating PR's.
fastlane deliver uses the corresponding text file in order to update the app store listing.

[2017-05-12 09:37] mathiasquintero commented on #130
@mammuth actually I seem to be having some issues with the upload. It fails every time. Right after authenticating. Can you try?

[2017-05-12 09:50] mammuth commented on #130
Do we want to release today? #123 might be worth looking at before releasing?

[2017-05-12 16:03] pfent opened #131 "Confirm with the user, that a LRZ id is correct"
Got feedback from someone setting up the app:
After entering the last character of ones LRZ id, the app immediately continues to the next screen.

This is problematic due to possible typos in that ID:
A token for a random user is generated. Due to the TUMonline cap of 10 tokens per user, we generally don't want to do that.

Possible solutions:
* Confirm with the user, that this a token for this ID

[2017-05-12 16:23] mammuth commented on #131
Right. @mathiasquintero talked about reworking the login flow, and I think that's one of the things that we talked about to change 👍

[2017-05-15 11:58] mammuth opened #132 "Add page to TUM wiki"
We might add information about the TCA for iOS on the official (and new and fancy confluence) wiki:
https://wiki.tum.de/display/apps/

[2017-05-15 19:40] kordianbruck commented on #132
I've updated the page. We could still add new screenshots. I've removed the old ones as they were really outdated.

[2017-05-17 08:01] kordianbruck opened #133 "Enable caching for travis ci"
To speed up the build, lets try to cache some of the downloaded data:

https://github.com/TCA-Team/iOS/commit/cf1e694509b84919b83b5849e3eb2b40af92e446#commitcomment-22170171

[2017-05-17 10:16] mammuth commented on #121
Tickets:
https://tca.exgen.io/scp/tickets.php?id=213

[2017-05-26 10:43] mammuth commented on #9
Depends on https://github.com/TCA-Team/backend/issues/2

[2017-07-11 19:06] arisun commented on #121
I would like to contribute on this project. Could you please help picking the first issue to resolve.

[2017-07-12 08:24] mathiasquintero commented on #121
@arisun if you want you can take a look at this very issue. The reason we haven't gotten around to it is that it will take a bit of reverse engineering of the TumOnline API.

The reason this happens is we search for a user with the exact name of the logged in user and show their details. This obviously leads to conflicts, because you guessed it 2 people can have the same name.

Option 1: see if we

[2017-07-12 10:01] mathiasquintero commented on #121
@arisun wait, you're not a student? Ok. This is gonna be difficult. @mammuth how are we handling cases like this?

[2017-07-12 10:42] kordianbruck commented on #121
Unfortunately there are no test users. But alumnis can still login into tumonline and use the app

[2017-07-20 19:37] rodalfus opened #134 "Add app store link to README.md"
Currently, the readme for this project does not include a link to the app store, despite it being the first thing that is shown when entering a repository on Github. To save any interested users or developers the work of having to manually search the app store, the readme should include the following link: https://itunes.apple.com/app/id1217412716, ideally in the first section.

[2017-07-20 19:41] rodalfus commented on #134
If possible, I'd like to "implement" this, to get used to the collaboration process and be able to add more relevant (code-)fixes in the future.

Did I understand correctly that the steps needed would be:

1. Fork the repository
2. Branch off of `master`
3. Implement change
4. Create a pull request from my fork

I'm somewhat new to being a collaborator on an open-source project so please forgive m

[2017-07-20 19:43] mammuth commented on #134
Yes, that's exactly the way it's intended! 👍

[2017-07-20 19:45] rodalfus commented on #134
Short follow-up: Is there any way to signal that I would like to take responsibility for an issue I create or more general any issue?

[2017-07-20 19:46] mammuth commented on #134
Yes, we can assign you to the issue 😉

[2017-07-21 08:19] #134 closed

[2017-07-21 09:54] TG908 commented on #130
What happened to the release?

[2017-07-21 10:11] kordianbruck commented on #130
@TG908 do you have access to the store? Can you upload a new version?

[2017-07-21 10:25] TG908 commented on #130
I think i dont have accesss

[2017-07-21 10:32] kordianbruck commented on #130
I've resend the invitation to your acor address for itunes connect. Then you can upload a new version @TG908

[2017-07-21 15:16] TG908 commented on #130
I somehow didn't receive any email yet.

[2017-07-23 19:50] kordianbruck commented on #130
@TG908 did you check your spam?

[2017-07-23 21:12] TG908 commented on #130
@kordianbruck i did

[2017-07-25 10:39] tgymnich opened #137 "Configuration Profiles"
The android app offers eduroam setup. We could do the same **(and more)** for ios with profiles.
We could offer profiles to setup:

- tum.de /mytum E-mail Account
- in.tum.de E-Mail Account
- lrz vpn on demand (automatically connects to lrz vpn when the device is in the lrz Wifi.
- eduroam Wifi: pwd configuration/encryption

[2017-07-25 16:28] kordianbruck commented on #137
How can you login to eduroam using in.tum.de? You mean the FMI Wifi?

[2017-07-25 17:26] TG908 commented on #137
I want to create a profile that configures your in.tum.de email account. That has nothing to do with the eduroam wifi

[2017-07-25 17:34] mathiasquintero commented on #137
@TG908 no need for a profile. NetworkExtension allows us to set up the WiFi in iOS 11

[2017-07-25 17:37] TG908 commented on #137
Great I guess we can maybe go with Personal VPN if we wanted to do the same for vpn.

[2017-07-25 17:41] mathiasquintero commented on #137
@TG908 check this out: https://developer.apple.com/documentation/networkextension/netunnelprovidermanager

[2017-07-25 17:44] TG908 commented on #137
@mathiasquintero only supports Per-App VPN On Demand so a Profile might be better.

[2017-07-25 17:52] mathiasquintero commented on #137
But do we really need it on demand instead of simply registering it?

[2017-07-25 19:12] TG908 commented on #137
On demand is really nice if your phone joins the lrz wifi it automatically connects to the vpn.

[2017-08-12 10:59] lukaskollmer opened #139 "Login flow needs improvement"
**Problem:**

Selecting "I don't have an LRZ-ID" in the login screen will load the "Main" storyboard and present the `CampusTabBarController` on top of the login view controller.
This works fine the first time, but due to how the login screen is presented (reassigning `UIApplication.shared.keyWindow?.rootViewController` rather than simply calling `UIViewController.present(_:animated:completion:)`)

[2017-08-12 18:46] TG908 commented on #139
You‘re right would you mind putting this into a PR soon?

[2017-08-13 01:26] lukaskollmer commented on #139
I'll see what I can do but I'm new to the codebase so this might take a while

[2017-08-13 11:24] lukaskollmer opened #140 "MVV?"
Turns out I have a lot more free time than anticipated

How exactly should the MVV feature be designed? IMO there's a lot of things this could include:
- list of nearby stations
- upcoming departures
- upcoming departures at the nearest station (maybe in one of these cards?)
- service interruptions (maybe show a card that lists all lines that currently experience interruptions?)

I've been working

[2017-08-13 12:40] mammuth commented on #140
You can always check out how the [android app](https://github.com/TCA-Team/TumCampusApp/blob/master/app/src/main/java/de/tum/in/tumcampusapp/managers/TransportManager.java#L38) is approaching certain features. Furthermore you can probably use the same API's :wink:

Btw, there might be some [related issues](https://github.com/TCA-Team/iOS/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20mvv).

[2017-08-13 13:44] lukaskollmer commented on #140
using the same API as the android app doesn't seem like a good idea since it's HTTP only, meaning that you'd need to register an ATS exception, which apple probably won't like

one more question:
how can i add/register a card to be displayed in the cards list on the main screen (i'm thinking about adding 2 cards, one for upcoming departures at the closest station and one with general information a

[2017-08-13 16:00] TG908 commented on #140
We already have an ATS exception in place.

[2017-10-06 14:37] mobi-robert commented on #139
Hi, I'd like to implement this, if that's alright.

[2017-10-06 14:38] TG908 commented on #139
Sure go ahead.

[2017-10-07 17:19] mathiasquintero opened #144 "Xcode 9 + Swift 4 Migration"
We will need to think about migrating to Xcode 9 and Swift 4 pretty soon.

Big questions:
- Which deps will we have to update ourselves?
- Which should run in Swift 4 and which in the 3.2 compatibility mode?
- How can we guide the pod script that creates the targets to configure the correct build settings for these projects and not bump them all blindly to Swift 4?

[2017-10-07 18:27] rodalfus opened #145 "Check if resetting the simulators is still needed for the builds to function correctly on Travis"
The reason why we reset the simulators was this bug with Travis' Xcode8.2 image.
Apparently in the 8.3 image this is not a problem anymore, so we it should be tested if just removing the reset_simulators results in faster builds.

[2017-10-07 18:28] rodalfus commented on #145
I'll start work on this.

[2017-10-07 18:32] mammuth commented on #123
We should try to fix that asap since we already got a couple of more mails now that the semester starts.

@mathiasquintero If I remember correctly you told me once you found the cause for this? Can't remember what it was 🙈

[2017-10-07 18:34] mammuth commented on #139
Closed via #143

[2017-10-07 18:34] #139 closed

[2017-10-07 18:53] mathiasquintero commented on #123
Hahaha me neither. Damn. We'll have to check it out

[2017-10-07 19:00] TG908 commented on #144
I think we can get rid of:

- PZPullToRefresh (not only code outdated also ui design)
- FoldingCell (replace with apple news like design)

[2017-10-07 19:26] rodalfus commented on #111
In how far would using [Fabric](https://fabric.io/) an option? It works pretty well for my apps.

[2017-10-07 19:35] rodalfus commented on #90
Is this still needed? If so, I'd like to take care of it.

[2017-10-07 19:59] rodalfus opened #147 "Hide "Service" cell on "More" screen"
Currently, when tapping on "Services" in the more tab, a popup is shown, indicating that the feature is not implemented yet. It is not clear to me, what this feature should do and what the current development status of it is.

Unfortunately I don't have an Android device, so I'm not able to check how the Android app behaves here (or whether or not it even exists).

![simulator screen shot 7 oct 20

[2017-10-08 19:05] mathiasquintero commented on #90
I already started this. I was refactoring the singleton out of the process ;)
But you can check out my branch: https://github.com/TCA-Team/iOS/tree/mathias/network-refactor
If you want to help out.

[2017-10-08 21:34] kordianbruck commented on #123
Wasn't this the problem that we just fixed in that pull request?  #143

[2017-10-08 21:42] kordianbruck commented on #147
Yea, this should be disabled until we implement it. In Android we have a Silence Service and a Background service. The first one mutes your phone during lectures and the second one syncs any data in the background.

[2017-10-08 21:42] #145 closed

[2017-10-08 21:46] kordianbruck opened #148 "HackALong with us @16.10.2017"
Just a reminder for anyone who checks these issues about our hackathon evening: https://www.facebook.com/events/1801380086826588/

[2017-10-09 05:49] mammuth commented on #123
That's why I was asking for the cause. :blush:

Wasn't there the problem that the token was requested whenever the login vc was opened or something like that? So when people activated one token in TUMOnline and came back to the app, it sometimes already had requested another one? Or is that not the current behavior anymore / got fixed?

[2017-10-09 09:21] lukaskollmer commented on #147
@kordianbruck The mute during lectures thing won't be possible on iOS anyway and I don't think background data sync on iOS needs a separate setting since you can toggle Background App Refresh on an app-by-app basis in Settings.app. IMO the entire "services" section can be removed on iOS

[2017-10-09 09:23] kordianbruck commented on #147
Yea, I know, so thats why we should remove it till someone wants to tackle this issue ;)

[2017-10-09 09:30] rodalfus commented on #147
Sure, I’ll take care of it.

[2017-10-09 09:59] #12 closed

[2017-10-09 09:59] #140 closed

[2017-10-09 10:30] lukaskollmer commented on #25
#141 only implements nearby stations and upcoming departures, it does not implement a news card

[2017-10-09 12:59] rodalfus commented on #90
If I can allocate time for it myself, I will definitely check it out.

[2017-10-09 14:04] kordianbruck commented on #111
The problem is that we have a lot of people looking at our source code. Questionable companies like crashlytics use that data for private gain and we would need to deal with our privacy Policy. So while I agree, this would be the easiest solution, its not one that will be supported by TUM.

[2017-10-09 15:06] lukaskollmer commented on #111
What about using [`NSSetUncaughtExceptionHandler`](https://developer.apple.com/documentation/foundation/1409609-nssetuncaughtexceptionhandler) to save exception stack traces to a txt file in the app's documents folder?

We'd check on launch whether such a file exists. If there is one, show an alert asking the user whether they want to send an email explaining what exactly they were doing when the

[2017-10-09 15:28] rodalfus commented on #147
@kordianbruck Should we keep the alerts for _Default Campus_ and _MVV_ or remove those as well?

[2017-10-09 16:15] kordianbruck commented on #147
@rodalfus I'm not sure what those are - care to explain? (I think those are not implemented either, so then we should also hide them.)

[2017-10-09 16:17] kordianbruck commented on #111
@lukaskollmer that is actually what we do in the Android App. Theres an API endpoint for this as well: https://github.com/TCA-Team/TumCampusApp/tree/master/app/src/main/java/de/tum/in/tumcampusapp/trace

it would be very helpful, but if you check the Stackoverflow link about its hard to get a stacktrace that is meaningful. But: go for it, maybe you can make it work.

Please make sure this debug re

[2017-10-09 16:19] kordianbruck commented on #111
API: https://github.com/TCA-Team/TumCampusApp/blob/master/app/src/main/java/de/tum/in/tumcampusapp/api/TUMCabeClient.java#L332
Model: https://github.com/TCA-Team/TumCampusApp/blob/master/app/src/main/java/de/tum/in/tumcampusapp/models/tumcabe/BugReport.java

[2017-10-09 16:22] rodalfus commented on #147
Exactly, both not implemented (currently). #119 seems to have started progress on the _Default Campus_ functionality. Just saw that #141 implements the _MVV_ functionality, though.

[2017-10-09 16:28] kordianbruck commented on #147
Yea, lets hide the default campus for now until that gets merged. Thanks for looking out for this!

[2017-10-09 16:52] rodalfus opened #150 "Token not correctly propagated to managers after login"
Steps to reproduce:
- Log out of application if logged in
- Log in to application
- Go to "More" tab
- Check if your name is displayed (it won't be)
- Force quit and restart application
- Check if name is displayed in "More" tab (it will be)

This issues seems to been introduced with #143 (sorry!). Furthermore, the logs suggest that the token used by the application to get the user is incorrect un

[2017-10-09 17:56] lukaskollmer commented on #111
@kordianbruck It's not impossible, I've written something similar in the past. You can get a pretty meaningful stack trace at runtime (something like [this](https://gist.github.com/lukaskollmer/15c08a9f537e92c2717450ec7f44b73a)).

I don't think we need to add a setting since the user already has to explicitly agree to send the email including the debug information

[2017-10-09 18:34] kordianbruck commented on #111
Great, if you can get a better stack trace. Go for it!

If you check how its done in the Android App you will also understand the need for the setting:
1. Collect Crash and safe as file
2. At startup of the App, check if there are any crash files
3. Submit the crash files to our API
4. Delete crash file from phone

The API will accept anything that adheres to the model posted above. The UI then al

[2017-10-10 09:16] lukaskollmer commented on #111
@kordianbruck I'll need some more info about that API.
- What's the API's hostname?
- Which endpoint should I use?
- Do I need to authenticate in order to make the `PUT` request?
- What's the expected form of the request? Should I just upload the file or does the API expect a JSON dictionary?

(I did look at the code you linked and some other files in the android app but tbh I've never written a s

[2017-10-10 09:32] lukaskollmer commented on #144
We'll need to update `SWXMLHash` to 4.0.0 to get around [this issue](https://github.com/drmohundro/SWXMLHash/issues/140)

(Swift 4 added `associatedtype Element` to `Sequence` which clashes with an enum case in SWXMLHash)

[2017-10-10 15:33] kordianbruck commented on #111
@lukaskollmer
The endpoint is PUT https://tumcabe.in.tum.de/Api/report/
No, no auth needed. JSON object is expected with the fields you can find in the model file above as the HTTP Body.

[2017-10-10 15:34] kordianbruck commented on #111
Make sure you add the correct headers: https://github.com/TCA-Team/TumCampusApp/blob/master/app/src/main/java/de/tum/in/tumcampusapp/api/Helper.java#L91

This should be done using a REST client of some sorts. Not sure what there is. @mathiasquintero  ideas? suggestions?

[2017-10-11 09:45] lukaskollmer commented on #111
@kordianbruck looking at the model in the java app, what data should the fields `packageName`, `packageVersion` and `packageVersionCode` contain? Or should I just leave them empty?

Also, I'll change `androidVersion` to `iosVersion` in both the JSON object and the user agent and I'll leave the `log` field empty.

[2017-10-11 09:48] kordianbruck commented on #111
packageName: name of the package / location in which the exception occured
packageVersion: Version how it is visible to the user / itunes store
packageVersionCode: this is an integer that is unique and is increased with every deployment - might not be present for ios apps

Log: yea, you can leave that empty
iosVersion: I will need to adapt the server/api then

[2017-10-15 15:17] rodalfus opened #151 "Pasting into the login ID textfields is wonky"
**Steps to reproduce**:
(1):
- Open login screen
- copy your ID (e.g. ga12ab)
- paste the ID in the first textfield

You will see that the whole ID is pasted into one textfield.

(2):
- Open login screen
- Input the first two characters of your ID and then select the first textfield again
- Input another character

You will see that it is possible to input more than the expected two characters int

[2017-10-15 15:23] rodalfus commented on #151
@mathiasquintero I believe that a solution that does not require third-party libs and works as expected (as I believe the one I implemented does) is preferable to using a third-party (especially) UI component, which we'd have to make sure is up-to-date and might just be abandoned in a year or so.

[2017-10-15 15:29] mathiasquintero commented on #151
Actually I was thinking that maybe at this point UIKit may have a solution

[2017-10-15 15:35] rodalfus commented on #151
I'll have a look, but honestly I doubt that there is a native UIKit solution for this. Have not come across one until now at least ;)

[2017-10-16 15:04] #148 closed

[2017-10-16 15:12] #22 closed

[2017-10-16 15:15] #94 closed

[2017-10-16 15:20] TG908 commented on #117
Ma

[2017-10-16 17:41] kordianbruck commented on #43
@mammuth Störungsticker proved to not be useful and was removed two months ago.

[2017-10-16 18:13] mammuth commented on #25
Malfunctioning info isn't included in the news api endpoint anymore. According to the android team, people didn't use the feature, so let's not implement this for now.

[2017-10-16 18:13] #25 closed

[2017-10-17 12:56] lukaskollmer opened #155 "Show an activity indicator while loading a room map"
Loading a room map over a slow connection (EDGE, wifi with ~10k other users) can take a very long time.

We should show some sort of loading indicator ([`UIActivityIndicatorView`](https://developer.apple.com/documentation/uikit/uiactivityindicatorview)/[`MRProgress`](https://github.com/mrackwitz/MRProgress)/etc) while the image is loading.

[2017-10-17 13:17] lukaskollmer opened #156 "Caching Everything"
If individual room maps images aren't too large, we should consider caching them on device.

Obvious advantage of this is performance: if we don't have to load the images from the internet, we can display them way faster if the user is on a slow connection.

[2017-10-17 14:56] kordianbruck commented on #156
How do you want to add the marker for the maps? Locally on the phone?

[2017-10-18 07:51] mathiasquintero commented on #156
I'd actually suggest that we start thinking of a general caching and refreshing behavior. We should cache everything and in every screen allow users to force a refresh.

Maybe even allow them to set the caching times for each feature in settings

[2017-10-18 10:15] #151 closed

[2017-10-18 10:16] kordianbruck opened #157 "Release this Week"
@TCA-Team/ios please can someone finally determine in this issue, what needs to be done until we can release a new version? We wanted to do this months ago. Please post relevant issues/prs in this issue, so that we can have a overview.

**We need to release by the end of the week to finally fix those login issues and a thousand tokens being generated!**

[2017-10-18 10:18] rodalfus commented on #157
#150 should definitely be fixed. I think I‘ll have a little time to have a look at this later today but can’t make any guarantees.

[2017-10-18 10:19] mammuth commented on #123
@mathiasquintero could you dig into this during this week so we can release a new version at the weekend? We get a lot of support mails which are caused by our login flow.

[2017-10-18 10:19] mammuth commented on #130
Outdated

[2017-10-18 10:19] #130 closed

[2017-10-18 10:20] mammuth commented on #123
Related / Similar changes: https://github.com/TCA-Team/iOS/issues/131

[2017-10-18 10:21] mammuth commented on #157
Important Issues / PR's:
- https://github.com/TCA-Team/iOS/issues/123
- https://github.com/TCA-Team/iOS/issues/150

[2017-10-18 13:19] mammuth opened #158 "Calendar does not show any events"
I think we don't have an issue for that bug yet. There are many reports about this in the ticket system. They state they are able to see their lectures and stuff like that, but their calendar is empty.

[2017-10-18 15:53] rodalfus commented on #150
Ok, so I think we can fix this in the following way: add a reference to the `TUMDataManager` used in the `MoreTableViewController` to the `WaitForTokenViewController`. Update the `dataManager`'s user once we get a new one in the `MoreTableViewController`. Also, request the user's user data there. Add a callback to `TUMDataManager.getUserData` and update the `MoreTableViewController`'s views when t

[2017-10-18 23:11] TG908 opened #159 "Removing a card in edit mode freezes app"
In the version of the app i am working on (branch: 82-NewDesign2), the app freezes when removing a card via the edit menu. @mathiasquintero is it possible that this has something todo with Sweeft. Is anyone else experiencing this (maybe with swift 4 or sweeft 0.13)??

[code]

This is where the app hangs and uses more and more memory / cpu. The last line is recursively calling this function with in

[2017-10-19 07:35] mathiasquintero commented on #159
Yeah. I saw this. I'll fix it

[2017-10-19 08:18] mathiasquintero commented on #159
Ok. I think I have a fix. Please update to Sweeft 0.13.1

[2017-10-19 08:34] mathiasquintero commented on #159
Never mind. Tested it. Didn't work :(

[2017-10-19 08:41] mathiasquintero commented on #159
Aha. Finally got it. The fix will be out in a min. 0.13.2

[2017-10-19 08:46] #159 closed

[2017-10-19 08:48] mathiasquintero commented on #158
I wouldn't necessarily call this a bug.
We need to add a button to force refresh the calendar, instead of the user having to wait a week for it to refresh

[2017-10-19 09:00] mammuth commented on #158
So it's due to the caching in the app? Then I'd still call it a bug if the cache period is a week, since that's no proper cache rate in my opinion.

There are also un-periodic events the user is not aware of, which are placed spontaneously into the calendar by TUM Online. Receiving this event one week late might be bad as well...

[2017-10-19 10:29] mammuth opened #160 "Import calendar into Apple Calendar"
We could add an easy way for importing the TUM Online calendar into the Apple Calendar (via URL) if this is possible.

[2017-10-19 12:19] kordianbruck commented on #158
@mammuth we have to respect TUMonline here. Fetching the calender is one of the most impacting operations and requires a lot of computation time on their end. One week is resonable as mostly the lectures change once at the beginning and then some get canceled. But almost never are there any lectures added short hand.

[2017-10-19 12:21] kordianbruck commented on #160
I don't think you can get the URL via the API. You only get the events as a XML file. Otherwise this would also make sense: https://github.com/kordianbruck/TumCalProxy/issues/8

[2017-10-19 12:34] mammuth commented on #160
Ah, good to know! Then we might integrate a hint to the CalProxy 👍

[2017-10-19 12:35] mammuth commented on #158
Wut, TUM Online wants us to have a calendar that's in the worst case one week out of date 😮

But okay, refresh button it is...

[2017-10-19 14:14] kordianbruck commented on #121
https://tca.exgen.io/scp/tickets.php?id=264

[2017-10-19 14:23] mammuth opened #163 "Only show tution fee card if it's not payed yet"
We currently always show the tution fee card, even if the balance is 0€. We might only show it, if it's not yet payed.

[2017-10-19 18:15] TG908 commented on #160
Calendars can also be setup using profiles

[2017-10-19 18:18] TG908 commented on #157
I'll try getting the ui ready as soon as possible...

[2017-10-19 20:20] TG908 opened #165 "The TU Film announcements shouldn't appear in the news"
Since we are not going to refactor the news api we somehow need to make sure, that the tu film movies won't show up in the news card.

[2017-10-19 22:15] mathiasquintero commented on #157
https://github.com/TCA-Team/iOS/pull/161 should also go in

[2017-10-19 22:16] mammuth commented on #157
Yes. It's tracked via the 1.2 milestone 👍

[2017-10-20 07:42] rodalfus commented on #150
@mathiasquintero

[2017-10-20 07:52] mathiasquintero commented on #150
Add a delegate to the MoreTableViewController and then you'll have a reference to DataManager through the delegate. I don't know about updating the data everytime, though. Maybe only if it's nil

[2017-10-20 08:01] mathiasquintero commented on #107
This was already done. We should probably introduce a compatibility layer so that we don't have lot's of people signing in again

[2017-10-20 08:04] mathiasquintero commented on #160
The profile is a bit too hacky though. Because you have to open it somehow. And the system won't allow to open a file URL of the system... My best guess would be starting a local WebDav server with an autogenerated Profile.

Nah. I don't like it.
Apple surely has an API for the calendar

[2017-10-20 08:51] mammuth opened #169 "Create new screenshots"
Our screenshots are outdated, especially with the new card design ( #142  ).

Fastlane can be used for that - it should be documented in the fastlane directory or the contributing readme

[2017-10-20 10:35] mammuth opened #172 "Update release notes in fastlane/metadata"
https://github.com/TCA-Team/iOS/blob/master/fastlane/metadata/de-DE/release_notes.txt

[2017-10-20 10:59] mammuth opened #173 "Create more automatic screenshot rules"
We use fastlane snapshot for automatically creating screenshots. Currently, we only have 4 of those screenshots.

The concept here is that we create UITests and fastlane is going to execute them and we trigger screenshot commands within the tests.

There are a couple of views missing from this automatic screenshot taking, so let's add them!
Note that the limit of screenshots per locale is 5 if I r

[2017-10-20 11:22] mammuth opened #174 "Evaluate removing of pod repo update from Travis"
https://blog.travis-ci.com/2017-10-16-a-new-default-os-x-image-is-coming
"We are also updating this image with some changes that will improve the experience of these builds. We are adding brew update, pod repo update, and other similar updates to help speed up build times, and we are upgrading the OS X version of this image to 10.12.6 (from 10.12.5) to allow users to take advantage of newer OS X f

[2017-10-20 14:34] kordianbruck commented on #165
Why should they not appear in the news?
The idea is to show one card for each news source. Thats how its done in Android.

[2017-10-20 17:05] mammuth opened #179 "Remove TabBar"
As suggested by @TG908, the tabbar is kind of unneeded.

Possible other ways to get to the more view:
- We could add the profile image to the toolbar which links to it
- some kind of swipe / dropdown similar to snapschat ( @mathiasquintero  idea)
- Your sexy idea here

[2017-10-20 17:20] TG908 commented on #179
The toolbar already has the search thingy

[2017-10-20 17:29] mammuth commented on #179
Yeah, we have room here to discuss what to move where 😊 Anything against moving the search icon to the left and having the profile image on the right?

[2017-10-20 17:32] mammuth commented on #123
Resolved via #171

[2017-10-20 17:32] #123 closed

[2017-10-20 17:33] mammuth commented on #131
Resolved via #161

[2017-10-20 17:33] #131 closed

[2017-10-20 17:34] TG908 commented on #179
@mammuth The edit button is on the left 😄. We could have 2 buttons on one side of course.

[2017-10-20 17:38] mammuth commented on #179
I know the current state, I'm here to discuss possibilities^^ I could imagine that the edit cards button isn't that important and we might add that to the moreview for example.

[2017-10-20 17:50] mammuth commented on #158
Resolved by #162

[2017-10-20 17:50] #158 closed

[2017-10-20 17:56] mammuth opened #180 "Blocker for 1.2: Users need to re-login after update"
PR https://github.com/TCA-Team/iOS/pull/171/ introduces a more stable login flow. However, people upgrading from an app version before that will be faced with the WaitingForToken view (however no new token got requested).

The workaround would be that the user goes back and completely re-logins, which we can not do.

[2017-10-20 17:57] mammuth opened #181 "Test upgrade process from 1.1 to 1.2"
Look how the app (especially the login) behaves when upgrading from 1.1 to 1.2

To avoid more stuff like #180

[2017-10-20 18:00] rodalfus commented on #179
@mammuth For iOS 11 users we could go for the enlarged navigation bar and hide the search bar beneath that (see Mail.app).

[2017-10-20 18:09] mammuth opened #182 "Duplicated events after refreshing calendar"
Steps to reproduce:
- open calendar
- hit refresh
- events are not duplicated yet
- go back to cards or more view
- open calendar again
- events are duplicated

![image](https://user-images.githubusercontent.com/3121306/31835599-7a29adba-b5d2-11e7-81bd-22650581cd2b.png)

[2017-10-20 19:07] mathiasquintero opened #184 "Add Changelog"
We should at this point probably be keeping a CHANGELOG.md with the standard format.

That way we can just copy it to the releasenotes everytime

See:
http://keepachangelog.com/en/1.0.0/

[2017-10-20 19:34] #184 closed

[2017-10-20 20:24] #107 closed

[2017-10-20 20:25] mammuth commented on #180
Resolved via #183

[2017-10-20 20:25] #180 closed

[2017-10-20 20:49] #181 closed

[2017-10-20 21:13] #182 closed

[2017-10-20 21:13] #169 closed

[2017-10-20 21:13] #173 closed

[2017-10-20 21:14] mammuth commented on #150
Resolved by #170

[2017-10-20 21:14] #150 closed

[2017-10-20 22:12] TG908 opened #190 "Large Titles?"
What is your opinion on the large titles from iOS 11. Should we include them.

I think we should to keep our app's look as close as possible to other ios 11 apps. **With one exception: CardTableView** since we don't have a proper title for this vc (maybe someone of you guys knows a way to make the image move up like text).

[2017-10-20 22:13] TG908 commented on #179
One idea would be get rid of the edit button and put the no cards cell always on the bottom.

[2017-10-20 22:38] TG908 commented on #179
@rodalfus i like your idea its also quite simple
[code]

[2017-10-20 22:53] kordianbruck commented on #157
Just released. Thanks to @mathiasquintero @TG908 @mammuth @rodalfus @larryzuo for fixing so many bugs and getting this done! Great Effort!

[2017-10-20 22:53] #157 closed

[2017-10-20 22:58] kordianbruck commented on #172
Yea, done.

[2017-10-20 22:58] #172 closed

[2017-10-21 08:50] TG908 commented on #179
I will just have a go at it. Will also include large titles.

[2017-10-21 21:39] mathiasquintero commented on #179
@mathiasquintero Check if you can get the image in the large title view instead of the navigation bar title view

[2017-10-23 13:09] kordianbruck commented on #121
@mathiasquintero is there any solution for this. We are getting many support tickets mentioning this issue, which does not really seem that problematic to me to resolve it? Or is it?

[2017-10-23 13:10] kordianbruck opened #193 "Calender Freeze"
"Leider gibt es immer noch Probleme mit dem Kalender - Wenn man zwischen Tagen hin und her wechselt bleibt die App oft eingefroren"

Feedback from a user. Are you parsing it on each swipe?

[2017-10-23 13:26] mathiasquintero commented on #193
We are not parsing on each swipe. We parse whenever the screen is opened.

[2017-10-23 13:28] mathiasquintero commented on #121
@kordianbruck Ok. Do you know exactly what Android is doing in this use case. Or are they having the same issue as well?

[2017-10-23 14:04] kordianbruck commented on #121
@pfent ?

[2017-10-23 15:02] pfent commented on #121
Ah, thanks for pinging me, I could had clearified this much earlier.
For starters I'd suggest to not guessing the names, when there's no exact match :ghost:

I think for the exact name you can just use the `id` endpoint and show that name to the user.

To get the person details, we [search for the person like you do](https://github.com/TCA-Team/TumCampusApp/blob/caf2eea586f6181a170b8398689ee67511a

[2017-10-23 15:04] lukaskollmer commented on #190
This probably won't work on the `CardViewController` since we're using a custom `titleView` (the TUM logo). All other VCs should be fine

[2017-10-23 22:41] TG908 opened #194 "Let's do another release on Sunday"
Planned Features (would close 11 issues and 4 PRs !):

- [x] #192 Remove Tab Bar
- [x] #167 network refactor
- [ ] #119 add default campus (needs work)

Anything else?

[2017-10-23 22:44] TG908 commented on #165
Then we should work on making one card for each news source. @mathiasquintero might have already done this in #167

[2017-10-23 22:46] TG908 commented on #156
@mathiasquintero the refresh could be done with a simple pull to refresh

[2017-10-23 22:47] TG908 commented on #144
@mathiasquintero this can be closed right?

[2017-10-23 22:52] TG908 commented on #29
outdated

[2017-10-23 22:52] #29 closed

[2017-10-23 23:07] #117 closed

[2017-10-23 23:14] TG908 commented on #163
We should also send out push notifications if the havent payed yet. Closing this duplicate #63

[2017-10-23 23:15] TG908 commented on #63
duplicate

[2017-10-23 23:15] #63 closed

[2017-10-24 05:27] mathiasquintero commented on #194
I don't know about the plans feature PR. I still don't like us shipping PDFs hardcoded with the app

[2017-10-24 05:30] mathiasquintero commented on #165
Sure! We can do it!

[2017-10-24 05:32] mathiasquintero commented on #156
@TG908 Intuitively. Yes. That's exactly what pull to refresh means.
I just don't know if it's the best idea...
@kordianbruck what do you think? If the user does a pull to refresh in the cards view, should the cards be loaded from scratch?

[2017-10-24 05:37] mathiasquintero commented on #109
Wait. You want both in single cards or each in a single card. This is ambiguous.

[2017-10-24 12:57] kordianbruck commented on #194
@mathiasquintero the plans should be downloaded from the Web. I can create an API for that. You on board? => Issue in Backend please

[2017-10-24 12:59] kordianbruck commented on #156
Well no, you shouldn't necessarily clear all caches. Stuff like the mensa will almost never change in my experience. You can clear some of the caches like the fees or something. I'm not sure we delete any caches on Pull to Refresh in Android.

[2017-10-24 13:07] TG908 commented on #194
I think we should do a release every week. The new cards will be in next weeks release.

[2017-10-24 13:09] TG908 commented on #109
each. I had the same thought yesterday evening 😄

[2017-10-24 13:23] mathiasquintero commented on #194
@TG908 is excited! Last release took a lot of work and I'm pretty busy these days so maybe slow down ;)

I think the first three should be doable

[2017-10-24 14:18] mathiasquintero commented on #156
Ok. But if we were to refresh everything that is in the cards view, it wouldn't be a big deal, right?

[2017-10-24 14:57] mathiasquintero commented on #156
@kordianbruck for testing I have this behavior in my branch. If you want to test it out. Any fetching of the cards that isn't triggered by a pull to refresh checks the cache. Only pull to refresh skips the cache

[2017-10-24 14:59] mathiasquintero opened #195 "Open every url in a SFSafariController"
For the sake of consistency we should open all urls in a safari controller and not in safari itself.

I'd very much like this in the 1.3 aswell

[2017-10-24 15:02] mathiasquintero opened #196 "Add refresh button to everything that is cached"
In the 1.2 we introduced a refresh button to update the cache of the calendar.

In PR: #167 we are caching a whole lot more of stuff.

We will need a lot more buttons.
To know what is being cached just check for implementations of `CachedManager`

[2017-10-24 15:13] mammuth opened #197 "Sort TUM.sexy redirects alphabetically"
The links should be sorted in a meaningful way, eg. alphabetically by title or by subdomain.

![image](https://user-images.githubusercontent.com/3121306/31951525-a8ff8bfa-b8de-11e7-812a-8f93e4cf3bd9.png)

[2017-10-24 15:14] mammuth opened #198 "Add search bar to TUM.sexy redirects"
As the TUM.sexy redirects are growing - add a search bar to the view which filters the list of redirects.

[2017-10-24 16:06] mathiasquintero commented on #197
maybe by the same categories that are on the website

[2017-10-24 16:07] mathiasquintero commented on #198
I'd suggest showing them in the regular search as well

[2017-10-24 20:59] kordianbruck commented on #156
@pfent what do you think? Smart move? Maybe we should also do this in the android version?

[2017-10-24 21:00] kordianbruck commented on #196
Think this will be redundant, if we just use pull to refresh everywhere to clear the cache for the current view? Might even be the best idea from a usability point of view.

[2017-10-24 21:57] mathiasquintero commented on #196
Perhaps add pull to refresh where it's easy to implement and the rest we do the refresh button...

[2017-10-25 12:54] pfent commented on #156
@kordianbruck I don't think this is a smart move.

IMHO the application should honor the [HTTP Cache-Control headers](https://developer.mozilla.org/de/docs/Web/HTTP/Headers/Cache-Control), but I think all the *tum.de sites don't set them.

So on pull-to-refresh, we should probably only do [HTTP HEAD](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/HEAD) requests and check, if the caches

[2017-10-25 13:03] mathiasquintero commented on #156
@pfent but the endpoints that really matter always set the current date as the date in HEAD requests. If we want to do that then TUMOnline will have to adhere to it as well...

[2017-10-25 18:20] mathiasquintero commented on #197
@mammuth how long would it take you to get us the categories in the json endpoint as well?

[2017-10-25 18:57] mammuth commented on #197
Not sure, @kordianbruck built the json endpoint. But should be easy I guess.

[2017-10-25 19:03] mammuth commented on #197
I'll do it, gimme some time

[2017-10-25 19:04] mathiasquintero commented on #197
@mammuth but please make it backwards compatible.
So we'll need to include the section names inside the links.

[2017-10-25 19:25] mammuth commented on #197
True, we need to do it this way 👍
But then it's nothing I will be able to do right now; since I'm on mobile. Simply adding the sections would have worked in the GitHub app^^

[2017-10-25 19:29] mathiasquintero commented on #197
👍 Cool. Just ping me whenever you included this so I can update the model and UI.

I can finally use my latest function:
https://github.com/TCA-Team/iOS/blob/mathias/network-refactor/TUM%20Campus%20App/Extensions.swift#L71

[2017-10-25 19:48] kordianbruck commented on #197
The only way to do this is to create a separate endpoint to the currently existing one. It is not extensible at the moment in tum.sexy. Would that be okay?

[2017-10-25 20:08] mathiasquintero commented on #197
@kordianbruck that would be ok. But isn't it easier to just inject the sections a link is in during serializing into json?

If it's too complicated we can connect to a separate endpoint 😉

[2017-10-26 10:07] kordianbruck commented on #193
That with the parsing was just an idea from my side - but it seems that  its really not performing so well.

[2017-10-26 11:16] mathiasquintero commented on #198
Suggestion: Let TUMSexyManager implement SearchManager and filter links locally...

[2017-10-26 15:16] mathiasquintero commented on #121
Ok. For now I just won't set any attribute other than the name if there's more than one result.

[2017-10-26 17:55] mammuth opened #200 "No calendar events in 1.2"
Other TUM Online info is there, but no calendar events. Refresh button does not resolve the issue.

http://tca.exgen.io/scp/tickets.php?id=281

[2017-10-26 18:00] mathiasquintero commented on #200
@mammuth what do you think? Parse Issue?
We ignore any entries without start, end, title, status, link or location.
https://github.com/TCA-Team/iOS/blob/master/TUM%20Campus%20App/CalendarManager.swift#L84

Perhaps some of these fields are indeed optional. I'll check what Android is doing in this scenario.

[2017-10-26 18:08] mathiasquintero opened #201 "Consider a Beta Test Program"
I've noticed that a lot of our issues happen because we're not testing enough due to time constraints.
Maybe be should consider opening up a beta trough TestFlight or Crashlytics.

Thoughts?

[2017-10-26 18:27] mathiasquintero commented on #200
@pfent wait is anything required?
https://github.com/TCA-Team/TumCampusApp/blob/master/app/src/main/java/de/tum/in/tumcampusapp/models/tumo/CalendarRow.java

[2017-10-26 18:34] pfent commented on #200
The last functional change to that file was 4 years ago 🎉
But yes, it seems all fields in the calendar rows are optional... Or someone couldn't figure out which were not and just defaulted them all to an empty string...

[2017-10-26 18:58] TG908 commented on #201
Testflight?

[2017-10-26 21:52] kordianbruck commented on #200
So i observered this today: it was loading for ever and the calendar was really slow when swiping right/left. It showed no events. Then after like a minute or something suddenly everything clicked into place and the events showed. Also it was no longer laggy.
I don't know the code for this, but there is something really fishy here.

[2017-10-26 21:53] kordianbruck commented on #201
Testflight. Its integrated with apple right?

[2017-10-26 21:59] kordianbruck commented on #201
Well let's use that instead of third party then?

[2017-10-26 22:00] mathiasquintero commented on #22
@TG908 why did you close this? I don't think we've done this

[2017-10-26 22:01] mathiasquintero commented on #201
I was more worried about if it's worth the hassle than how to distribute it. But If you think it's a good idea, I think we can do it

[2017-10-26 22:01] kordianbruck commented on #200
@mathiasquintero right. Ye, we have a separate issue for that lag.

But also the events didn't show with the girl that tried it out tonight. After jiggeling around and swiping they showed up after so time. So I would also think of an network issue.

[2017-10-26 22:02] kordianbruck commented on #201
You should certainly do it. We do it for android as well. If there aren't any terrible bugs we only then publish the previous beta.

[2017-10-26 22:03] kordianbruck commented on #22
Background services are a no go on iOS.

[2017-10-26 22:04] mathiasquintero commented on #22
Makes sense.

[2017-10-26 22:06] mathiasquintero commented on #201
Ok. Sounds good. @mammuth @TG908 what do you guys think.
Should we perhaps pospone the 1.3 release and just release a Beta?

If so how do we plan on getting Beta Testers?

[2017-10-27 05:25] mammuth commented on #201
We could add a hint at the bottom of the more view.

[2017-10-27 06:11] mathiasquintero commented on #201
A puzzle to get to the Beta?
We are missing some Easter Eggs anyway

[2017-10-27 06:16] mathiasquintero opened #203 "Easter Eggs!"
How did we release three versions without any?!?!?!

[2017-10-27 06:21] mammuth commented on #201
Well we don't have that many users yet, I would actually make it easy to join the beta to get some people in. If we have the feeling there are enough beta testers we could make it harder (by don't displaying the into that obvious, a small puzzle or whatever).

[2017-10-27 06:53] TG908 commented on #203
One should be on the tum logo

[2017-10-27 06:54] TG908 commented on #201
How about inviting people when they send us a support ticket. They are motivated to help anyway.

[2017-10-27 08:17] mammuth commented on #201
Yep, good approach. I do the same with the Tank Navigator, works out great 👍 The support is also a good way for asking for a good rating if they enjoy the app 😊
We can probably add a ios-team signature on osTicket where those boilerplate stuff is filled in.

[2017-10-27 10:07] kordianbruck commented on #201
@mammuth i think the iOS APP has 8k users ;-)

[2017-10-27 10:08] mathiasquintero commented on #201
Not so small after all

[2017-10-27 12:41] mammuth commented on #201
Yep, I know :wink:
So 1% testers would be 80 people. Sure, there are not as many device / OS configurations as on Android, but still having 1% as testers is a quite high percentage I guess, whereas 80 people are not that many.

But nevertheless, I still propose putting an obvious option in there to see how many people opt in for the beta, how well we're able to manage the feedback and then optiona

[2017-10-27 14:44] kordianbruck commented on #203
![tumrainbow](https://user-images.githubusercontent.com/298860/32109802-07351056-bb36-11e7-9b94-4959c0d7d380.png)

If you click, switch it over to this ;)

[2017-10-27 14:45] kordianbruck commented on #201
I think the settings will be just fine :o
will do the same on android

[2017-10-27 14:48] mathiasquintero commented on #203
Funky mode activated!!!

[2017-10-27 22:57] TG908 commented on #22
Yeah thats pretty much it. @mammuth and me were going through all the issues on the last meeting and I simply forgot to add a message.

[2017-10-28 14:08] kordianbruck commented on #197
@mathiasquintero nah, don't think so...

[2017-11-01 16:43] mathiasquintero commented on #198
This is my simples solution: https://github.com/mathiasquintero/Fuzzi

Which should allow us to search for both the domain and the description

[2017-11-02 12:31] #72 closed

[2017-11-02 12:31] #90 closed

[2017-11-02 12:31] #109 closed

[2017-11-02 12:31] #118 closed

[2017-11-02 12:31] #121 closed

[2017-11-02 12:31] #156 closed

[2017-11-02 12:31] #179 closed

[2017-11-02 12:31] #190 closed

[2017-11-02 12:31] #194 closed

[2017-11-02 12:31] #195 closed

[2017-11-02 14:46] kordianbruck opened #205 "Use TUM id endpoint to receive person details Feature"
The endpoint webservicesbasic.id now also returns the id for the current user:
[code]

we can then use the webservicesbasic.personDetails to receive the users image

[2017-11-07 21:01] #198 closed

[2017-11-10 07:38] #201 closed

[2017-11-11 00:07] TG908 opened #210 "Implement tum newspread"
I think we should implement the slides from the [news screen](https://tum.newspread.de/page/newspreadLive) in the app. The api looks straight forward and easy to use: [rss](https://tum.newspread.de/page/newspreadLive/4.rss). Maybe using cards like [this](https://github.com/PaoloCuscela/Cards).

[2017-11-11 00:25] TG908 commented on #210
![slice1](https://user-images.githubusercontent.com/7985149/32683942-40e4ecfa-c67f-11e7-95ab-0873e7758593.png)

[2017-11-11 00:30] TG908 commented on #210
<img width="375" alt="image" src="https://user-images.githubusercontent.com/7985149/32684003-dcb7143c-c67f-11e7-802c-7fb583bc0c5e.png">

[2017-11-11 07:10] nerdsupremacist opened #211 "Indicate Loading"
Right now whenever the screens are empty we display the message that there is no data available.
Perhaps we should be replacing that with Loading indicators. So we have three states:

- [ ] Data is being Loaded
- [ ] Data is there
- [ ] Data is empty

This is important for most screens so we should find a protocol extension based solution.

@TG908 Also mentioned that we should start handling the c

[2017-11-11 11:13] mathiasquintero commented on #210
Ewww: ```<content:encoded>&lt;img class='true reloader' height='480px' width='960px' src='https://storage.googleapis.com/tum-newspread-de/assets/e09d0063-af8c-463a-a54c-b69d829c1f91.jpeg' /&gt;</content:encoded>```

[2017-11-11 12:10] kordianbruck commented on #210
Guys. This is part of the News API from tumcabe. Please don't parse any other endpoints other than tumcabe and tumonline. Everything should be cached on our server to reduce load on other services and be able to fix parsing problems without releasing a new version!

[2017-11-13 00:02] nerdsupremacist opened #212 "Create Compatibility Layer for New Cards"
People Updating will already have the value of `PersistentCardOrder` set.
We have to add any new cards after the updated version is opened for the first time.

I'd suggest a json file with a 2d array. And persisting the last version of the app opened as the index in the array:

[code]

[2017-11-13 00:06] mathiasquintero commented on #210
So I'd suggest we refactor our use of the news API first so that we can separate these by category.
See #43

[2017-11-13 12:09] TG908 commented on #212
For me adding new cards was never a problem. They would all appear in the Edit section and I can add them from there. We could just add a new badge to the edit button perhaps.

[2017-11-13 14:05] TG908 opened #213 "Load book cover from google books for Book Rentals"

[2017-11-13 14:06] TG908 commented on #210
Categories:

- News (TUM News, Fachschaft News)
- TU Film (TU Film)
- newspread (newspread)

[2017-11-13 17:24] mathiasquintero commented on #212
Exactly. You have to add them manually.
I think that adding the new ones by default would be easier for users to understand.
You get a new feature and it's turned on by default

[2017-11-13 17:28] mathiasquintero commented on #211
Perhaps we should also consider switching to a DataDriven + MVVM approach to defining our views. That would make our transition harder but our upkeep easier.

@TG908 @mammuth thoughts?

I know that @larryzuo would love this!

[2017-11-13 22:23] TG908 commented on #211
Sounds good but I woudn't change it until the app is stable and all the major features work.

[2017-11-13 23:00] kordianbruck commented on #213
Please don't do this directly, but implement an API endpoint in the backend. This is also useful for Android and in such we can reuse external API calls.

Also, whenever the API breaks, we can easily update it on the server and don't need to push a client update.

[2017-11-13 23:12] nerdsupremacist opened #215 "Include Features in Search View"
Include a "Feature" Search Category on the Search Controller.
For people who are searching for "Grades", "Lectures", "StudyRooms"

[2017-11-13 23:32] mathiasquintero commented on #213
@TG908 what exactly do we get from the BookRental API? Is there an ISBN identifier included?
@kordianbruck I could get started on it. How can I get my hands on the backend code?

[2017-11-13 23:34] kordianbruck commented on #213
@mathiasquintero I've added you to the project. Let me know if you need any help to set it up.

[2017-11-14 07:01] mathiasquintero commented on #213
@kordianbruck will do. BTW. Do you think I should input the image URLs into the DB for caching or is it perhaps easier to just fetch the image url every time

[2017-11-14 07:24] #43 closed

[2017-11-14 07:24] #210 closed

[2017-11-14 07:33] mathiasquintero commented on #210
@TG908 The Network part is implemented. You can use it but we're not receiving any of the newspread entries from the endpoint yet

[2017-11-14 07:47] mathiasquintero commented on #210
Turns out most items from the news spread are pretty old and don't come by default.

@kordianbruck I only now noticed that Android uses the last id in sync.
Should we do that? If so do we really have to store every news entry on the device?

[2017-11-14 08:18] nerdsupremacist opened #216 "Add News Source Images"
We should probably include these beautiful images for the source of the news entry:

![News Source](https://tumcabe.in.tum.de/File/news/sources/src_5.png "News Source")

[2017-11-14 09:49] kordianbruck commented on #213
@mathiasquintero please download the images to the server and link them to the files table. You can check the Kino Crontab on how to correctly do that.

[2017-11-14 09:51] kordianbruck commented on #210
@mathiasquintero yes, that would be a great idea to reduce the amount of traffic and server load. Its really easy to implement.
I wouldn't delete the entries. I don't think they delete the last id. So in case nothing new is there, they won't fetch anything. Newsspread is unfortunately broken right now. I'll have to check the cronjob for that as well.

[2017-11-14 10:51] mathiasquintero commented on #210
@kordianbruck Sounds good.
I could recreate that behavior with this:

[code]

However, this will always fetch all the News Items. Or we can make it only fetch `/news/` the first time

[code]

[2017-11-14 14:26] TG908 commented on #215
maybe implement a segmented control like in mail

[2017-11-14 14:28] TG908 commented on #213
we only get the name

[2017-11-14 14:30] mathiasquintero commented on #213
@TG908 since I forgot my credentials, can you please paste an example of the HTML element of a single book. So I can see what else we get

[2017-11-14 14:31] TG908 commented on #213
<td>
           <strong>Datenbanksysteme</strong><br>
           Kemper, Alfons<br>
           040080393011 &nbsp;/&nbsp;0303/DAT 650f 2006 L 342(9)+21<br>
           <span class="textgruen">Dieses Medium wird mit Ablauf der Leihfrist automatisch verlängert,<br>wenn keine Vormerkung vorliegt.</span>
          </td>

[2017-11-14 14:33] TG908 commented on #216
how does the rockte give us news

[2017-11-14 14:35] mathiasquintero commented on #213
Please paste the whole HTML source. Maybe the attributes may give us something

[2017-11-14 14:36] TG908 commented on #213
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de"><head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="expires" content="0">
  <meta http-equiv="cache-control" content="no-cache">

<script type="text/javascript" async="" src="https://eu.libraryh3lp.com/js/libraryh3lp.js?167"></script><scrip

[2017-11-14 14:40] TG908 commented on #213
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de"><head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="expires" content="0">
  <meta http-equiv="cache-control" content="no-cache">

<script type="text/javascript" async="" src="https://eu.libraryh3lp.com/js/libraryh3lp.js?167"></script><scrip

[2017-11-14 14:43] mathiasquintero commented on #213
I'm trying to understand what the hell:
[code]
means. Ideas?

[2017-11-14 14:44] TG908 commented on #213
Its not the ISBN thats for sure

[2017-11-14 15:03] TG908 commented on #216
We should make tiny logos like these for all of our news sources:
<img width="375" alt="image 2" src="https://user-images.githubusercontent.com/7985149/32786837-4e3950e8-c955-11e7-9647-342383c6d3fd.png">

[2017-11-14 15:21] mathiasquintero commented on #216
The backend has a list of logos already. Don't worry about making any

[2017-11-14 15:24] mathiasquintero commented on #215
I meant like listing features in the search results. But that works as well ;)

[2017-11-14 15:53] TG908 commented on #216
Where can I see them?

[2017-11-14 15:55] mathiasquintero commented on #216
https://tumcabe.in.tum.de/Api/news/sources

[2017-11-14 18:06] TG908 opened #218 "Fix Location Manager"
[code]

Should we investigate this?

[2017-11-14 18:14] #196 closed

[2017-11-14 18:27] mathiasquintero commented on #218
Yeah, that's my old lazy programming. And I've been too lazy to fix it. Check `currentLocation()` in `Extensions.swift`. You will probably have to do a `return DispatchQueue.main.sync { }`

[2017-11-14 22:56] TG908 commented on #216
@mathiasquintero you do the model I do the UI???

[2017-11-14 22:57] mathiasquintero commented on #216
Sure. But let's get the rest of the UI redesign done before that, since this will be pretty simple

[2017-11-15 00:36] TG908 commented on #216
I don't like the existing icons. They should have more text. Nobody knows what the rocket stands for.

[2017-11-15 21:16] TG908 opened #220 "Separate Cards for News, TU Film and Newspread"
I'd like to have, different cards for the above news sources. In the current implementation only the title and titleColor are changed. However I want those 3 cell to have each a different UI. Thats's why I need an individual card class for each of those cards.

[2017-11-15 22:26] kordianbruck commented on #220
@TG908 @mathiasquintero the /kino endpoint is now working again with all the latest movies.

[2017-11-15 23:34] kordianbruck opened #221 "Mensa Prices"
User Feedback:

"Es wäre nice, wenn man die Preise der Gerichte in der Mensa-Ansicht sehen könnte. Aktuell funktioniert das noch nicht, in der Android App wurde das umgesetzt."

=> We need a backend api for this first. Android has hardcoded those.

[2017-11-15 23:38] kordianbruck opened #222 "Changing to another caferteria => not saved"
Userfeedback:
"Changing to the another Cafeteria is not saved.

When tipping on the Cafeteria item and changing the Cafeteria, e.g from Arcisstr to Garching, this only changes the detail view.
So after changing the Cafeteria, it changes in the current view. But when you go back to the overview, the Cafeteria didn't change (so it stays on Arcisstr). This is also true, if you select Cafeteria a seco

[2017-11-15 23:46] kordianbruck opened #223 "Kalender Sync"
"Ich wollte nur sagen, dass seit dem letzen Update mein Kalendar nicht mehr synchronisiert ist. Es werden nur die Termine für den Montag angezeigt."

https://tca.exgen.io/scp/tickets.php?id=284

[2017-11-15 23:50] kordianbruck commented on #210
@mathiasquintero probably the second is the better idea.

I've fixed the newsspread cronjob partially. Their RSS Feed is just a real mess. I've followed up with them and am awaiting an response within the next days.

[2017-11-16 09:43] mathiasquintero commented on #222
Right now we're always choosing the one closest to the user's current location.
This poses a couple of questions.

Are we supposed to change this behavior entirely?
Always show the last selected?
Even after killing the app?
When should we show the user the one that's the closest? Because that's one of my favorite features.

[2017-11-16 09:46] mathiasquintero commented on #223
Weird. Well we do have this little filter:

https://github.com/TCA-Team/iOS/blob/fce77c40ffa67e239ff167f95c850e97f0d2ac05/TUM%20Campus%20App/CalendarManager.swift#L41

Perhaps we're missing something

[2017-11-16 09:48] mathiasquintero commented on #221
iOS has these also hardcoded:

https://github.com/TCA-Team/iOS/blob/master/TUM%20Campus%20App/CafeteriaConstants.swift

[2017-11-16 09:55] mathiasquintero commented on #210
Ah yes. The links that are not valid URLs. Beautiful implementation of an RSS Feed

[2017-11-16 13:12] TG908 commented on #221
Can confirm I personally typed them in by hand one by one

[2017-11-16 22:35] TG908 commented on #221
Doesn't the Mensa Stammgelände have no prices because you have to mix n match your food. For Garching some prices appear but not all. Seems like the API is a bit incomplete

[2017-11-16 22:38] TG908 commented on #165
duplicate see #220

[2017-11-16 22:38] #165 closed

[2017-11-16 22:39] TG908 commented on #147
done

[2017-11-16 22:39] #147 closed

[2017-11-16 22:40] TG908 commented on #111
Any update on this? If not we should close this.

[2017-11-16 22:41] TG908 commented on #70
not relevant anymore since the whole model and network layer has changed

[2017-11-16 22:41] #70 closed

[2017-11-16 23:02] mathiasquintero commented on #155
Actually we need this pretty much everywhere where we don't have a refresh coordinator

[2017-11-17 09:59] TG908 opened #225 "Somebody(prob. Xcode) messed with my iTunes Connect Account now I can no longer view Crash Reports"
Xcode is messing with me :( iTunes Connect website still works. Can somebody please kick me from the dev team and re-invite me with an iTunesConnect Role...?

[2017-11-17 10:07] TG908 commented on #218
its crashing on me

[2017-11-18 14:39] kordianbruck commented on #225
Done.

[2017-11-18 14:39] #225 closed

[2017-11-18 14:51] TG908 commented on #225
still doesn't work nvm

[2017-11-18 15:15] kordianbruck commented on #222
So actually it would be better to choose the Mensa based on their next lecture. But in any case one should offer an override for this "smart" detection

[2017-11-27 12:37] lukaskollmer opened #229 "Calendar card"
1. In the countdown, are seconds really necessary?
2. The countdown should auto-update (as of right now, it only updates on pull to refresh)
3. Date formatting should respect the device setting for 12/24h time format
(my iphone uses the 24h format, but the event start and end time are displayed in 12h format)

<br>

![img_1318](https://user-images.githubusercontent.com/6547384/33266876-8bea0d48-d3

[2017-11-28 14:59] TG908 commented on #229
Good points. I’ll try to implement that soon.

[2018-01-24 22:19] #193 closed

[2018-01-24 22:23] mathiasquintero commented on #229
Let's try to get this fix in for the 1.4

[2018-01-25 09:53] mathiasquintero commented on #218
@TG908 is this still a problem

[2018-01-25 09:59] mathiasquintero commented on #103
It would be great if we could display the room finder. However I'm having trouble finding the roomId from the calendar events location

[2018-01-25 10:17] kordianbruck commented on #103
@mathiasquintero you will have to search for the room name and let the user chose. Thats what we do in Android. There is unfortunately no exact matching.

[2018-01-25 22:30] mathiasquintero commented on #220
Tagging this for the 1.4 to be included as part of the new UI

[2018-01-25 22:34] mathiasquintero commented on #197
@kordianbruck any progress/new thoughts on this

[2018-01-25 22:45] mathiasquintero commented on #144
Oh yeah this can be closed

[2018-01-25 22:45] #144 closed

[2018-01-25 22:48] mathiasquintero commented on #223
We should check if these problems are still there after the latest update. Even after pulling to refresh.

[2018-01-27 18:04] nerdsupremacist opened #233 "Homework Due Date Reminders"
I always forget when I have to turn in HW.

It would be nice to have a feature where you tell it which days of the week you have to turn it in and get a notification N number of days before to do it.
And it would turn off at the end of the semester

[2018-01-30 22:36] TG908 commented on #233
[Moodle API](https://docs.moodle.org/dev/Web_service_API_functions) we could try this...

[2018-01-30 22:38] kordianbruck commented on #233
Moodle APIs are turned off on the TUM instance - unfortunately.

[2018-01-30 23:50] TG908 commented on #233
bummer

[2018-02-12 23:54] kordianbruck opened #234 "Use app.tum.de"
I will be making this domain the default. Please make sure you use it everywhere in the app.
Especially HTTPS pinning might be a problem.

[2018-02-13 01:08] kordianbruck opened #235 "Use new email"
app@tum.de

[2018-02-13 01:08] kordianbruck opened #236 "Use new icons"
[iOS Export.zip](https://github.com/TCA-Team/iOS/files/1718228/iOS.Export.zip)

[2018-02-13 15:15] lukaskollmer commented on #236
What about a white background w/ a blue logo?

[2018-02-13 20:20] nerdsupremacist opened #237 "Rework the Calendar, Cafeteria, etc. Picker UIs"
The Picker UI is kind of showing it's age.
We should consider changing it for something different.

I'm open to suggestions

[2018-02-13 20:20] mathiasquintero commented on #237
@TG908 Any thoughts?

[2018-02-13 20:21] mathiasquintero commented on #236
@lukaskollmer For the icon you mean?

[2018-02-13 20:24] mathiasquintero commented on #234
The default for API or only links.
So far we're not doing any HTTPS pinning.
So unless you want us to have extra checks, it should be a one liner!

In fact Transport Security is probably turned. I get the feeling something in there is HTTP only.

[2018-02-13 20:26] mathiasquintero commented on #234
@kordianbruck is the Android app pinning the certificate.
If so this is probably desired behavior for iOS?

[2018-02-13 20:34] mathiasquintero commented on #234
If we want to pin the certificate we will have to let `TumCabeAPI` conform to `CustomAPI`, include the certificate in the bundle and implement `urlSession(_:task:didReceive:completionHandler:)`

[2018-02-13 21:57] lukaskollmer commented on #236
yes. maybe something like [this](https://files.lukaskollmer.me/embed/tca/tca_logo.png)?

i made the tum logo a bit larger since (imo) it's way too small in the current app icon

anyway, here are the resources, in case you want to make some changes:
- [tca_logo.pxm](https://files.lukaskollmer.me/embed/tca/tca_logo.pxm)
- [tca_logo.appiconset](https://files.lukaskollmer.me/embed/tca/tca_logo.appicon

[2018-02-13 22:16] kordianbruck commented on #234
For everything. Links & API.
Yes, Android is pinning the root cert.

[2018-02-13 22:19] kordianbruck commented on #236
@lukaskollmer the current icons above we got from the offical designer for the TUM CI. So I'd rather not do a custom variant - it needs to work for both Android and iOS.

[2018-02-14 00:38] mathiasquintero commented on #234
@kordianbruck ok. I just implemented a first draft of the root cert pinning.

Just to be clear I should be pinning using the sha256 fingerprints of the three certificates:

[code]

and refuse any connection if any of these is missing

[2018-02-17 19:55] kordianbruck commented on #234
@mathiasquintero it does not make sense to pin the automatically renewed certificate on the very last level. You can Pin DST Root CA X3 and LE Authority X3. Apart from that I wouldn't pin anything else.

As for other services: no, we don't control those certificates and that may just lead to too many problems.

[2018-02-19 22:59] TG908 commented on #237
I like the idea of getting rid if the Picker UI. These are the options I can think of:
![img_1793](https://user-images.githubusercontent.com/7985149/36400370-d078cf1c-15d0-11e8-9cea-be0a57288431.png)
![Uploading IMG_1791.JPG…]()
![Uploading IMG_1794.png…]()
![Uploading IMG_1792.JPG…]()

[2018-02-20 00:40] mathiasquintero commented on #237
- Paginated Tabs at the top would have to be scrolling. Kind of like Amazon Prime Videos. Because of the number of options.
- Alert Sheet seems fine but we should look for something that makes it clear that you can choose what is being displayed.
- The Card UI of the Reminders App is excellent though a bit complicated.

And perhaps for the maps in the room finder we should ditch selection entirely

[2018-02-20 08:59] kordianbruck opened #239 "Calendar Customization"
Sync from/to Android: https://github.com/TCA-Team/TumCampusApp/issues/410

[2018-02-20 12:34] kordianbruck opened #240 "Remove ECTS"
Those don't work in any case.

[2018-02-20 13:10] mathiasquintero commented on #239
Oh dang! We're finally generating content.

Looks like I will finally have to include `SQLite` in this project.
Most people go with: https://github.com/stephencelis/SQLite.swift

We'll see how easy it is to use or evaluate others.
I would add this to a 1.5 release though. Because if we're finally adding a fully fledged DB, we might as well transfer our caching layer over there...
Instead of the fi

[2018-02-20 13:12] kordianbruck commented on #239
DB does not replace you caching hopefully ;-)

[2018-02-20 13:19] mathiasquintero commented on #239
It doesn't have to. But I already had to get pretty clever/hacky to solve the Newsfeeds caching without a database...

Now that it's worth it to include a database, perhaps we can get rid of stuff like this:
https://github.com/TCA-Team/iOS/blob/2acc72ab33b49c4c158ad58b7859af29e4ef77a8/TUM%20Campus%20App/NewsManager.swift#L40

[2018-02-20 14:38] TG908 commented on #237
Dont really like that. How hard would it be to create a proper map?

[2018-02-20 15:09] mathiasquintero commented on #237
We'd have to get the coordinates for the rooms.
And I don't see them anywhere.
Perhaps they're on some private api for the room finder.
Or we could try fetching the first map, match the name to a coordinate we know, find the red dot and and apply scaling and offset to get the coordinates. So pretty hard

[2018-02-20 16:59] TG908 commented on #237
could we maybe use the roomfinder images as a map overlay...?

[2018-02-22 15:00] jpbernius commented on #236
What about supporting blue on white as an alternate icon?
[`setAlternateIconName(_:completionHandler:)`](https://developer.apple.com/documentation/uikit/uiapplication/2806818-setalternateiconname)

[2018-02-22 15:11] TG908 opened #241 "Implement TUM Alarmierungssystem"
@kordianbruck  Does our backend support [APNS](https://developer.apple.com/library/content/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/APNSOverview.html#//apple_ref/doc/uid/TP40008194-CH8-SW1)?

[2018-02-22 15:13] TG908 commented on #241
duplicate

[2018-02-22 15:13] #241 closed

[2018-02-22 15:13] kordianbruck commented on #241
@TG908 no, we are using Firebase Cloud Messaging. Please see #9

[2018-02-22 15:14] kordianbruck commented on #9
The issue referenced above, is already done. It was about migrating to Firebase, which we have completed.
Anyone willing to implement this, please contact me, in order to get the proper certificates for the GCM push messages.

[2018-02-22 15:20] TG908 commented on #9
Have you set [this](https://firebase.google.com/docs/cloud-messaging/ios/certs) up

[2018-02-22 15:25] kordianbruck commented on #9
yes, I think @mammuth worked on this already and pretty much finish it.

[2018-02-22 16:17] kordianbruck opened #242 "Tippfehler"
User Feedback:

Da ist ein Tippfehler auf der Seite mit Pruefungsergebnissen, naemlich steht da “Restults”
statt “Results”.

[2018-02-23 10:36] kordianbruck opened #243 "Set a proper User Agent for API Calls"
In Android we use the following:

Please update your useragent in all api requests to something more useful than:

We for sure need to know what version is connecting.

[2018-02-24 00:09] TG908 commented on #243
What does 521 at the end mean?
I think we should differentiate between android and ios user agents so android would be

and ios would be

[2018-02-24 07:14] kordianbruck commented on #243
Its the build Version. Yes, you are right, please include iOS in the string

[2018-02-25 18:07] #122 closed

[2018-02-25 18:07] #205 closed

[2018-02-25 20:04] #234 closed

[2018-02-25 20:04] #235 closed

[2018-02-25 20:04] #243 closed

[2018-02-25 20:59] mathiasquintero commented on #9
The preliminary feature needs to be implemented for 1.3.1.
Will only support the Alarm Payload and add chat later.
Updates should be handled differently I guess since the payload appears to be only available for Android and the App Store Updates are pretty fast due to autoupdate

[2018-02-25 21:00] #163 closed

[2018-02-25 21:00] #236 closed

[2018-02-25 21:00] #240 closed

[2018-02-25 21:00] #242 closed

[2018-02-25 21:04] mathiasquintero commented on #9
@mammuth can you please push anything you have on this?
@TG908 do you wanna take this one, or should I? I don't know how you're doing on time

[2018-02-26 00:58] TG908 commented on #9
Feel free to take this one. I’m still I’m my exam phase.

[2018-02-26 08:57] mammuth commented on #9
Same :disappointed:

[2018-02-26 09:00] mammuth commented on #9
Same :disappointed:

@mathiasquintero I once checked out firebase and started creating the needed certs and profiles and tinkered around with some code snippets in the app but there is nothing that could be pushed I think.

[2018-02-27 16:55] lukaskollmer opened #244 "beta registration fails w/ "no route for path" error message"
![img_3327](https://user-images.githubusercontent.com/6547384/36742122-2dec92b6-1be7-11e8-9800-c5ef201b88f3.PNG)

[2018-03-04 22:08] TG908 opened #245 "New Assets"
How do you like the new icons I created for the MoreView?

![campusappicons 3x](https://user-images.githubusercontent.com/7985149/36951183-a18c31b4-1fce-11e8-9372-5b5381da50de.png)

[2018-03-26 09:36] #203 closed

[2018-04-09 15:56] TG908 commented on #244
@kordianbruck

[2018-04-09 18:46] kordianbruck commented on #111
We switched the Android App over to crashlytics on Firebase: https://firebase.google.com/docs/crashlytics/

easy integration and good UI - would be great if we use the same thing for both.

[2018-04-15 21:15] kordianbruck commented on #244
I've set up a new instance on my k8s cluster with a subdomain: https://beta.tumcampusapp.de - DNS should be live within some hours. Meanwhile edit your `/etc/hosts` to test this and add this line:

[code]

[2018-04-27 08:01] TG908 opened #248 "Rework Roomfinder"
* Elastic Search: backend solr, elastic search (elk)
* Draggable/Zoomable Map
* Map to Lat/Lon => Google Map
* getMapMetric(m_id):

Returns UTM coordinates of a map plus rotation relative to the UTM grid.
(SW=southwest/lower left point, NE=northeast/upper right point)

[code]

See [TumCampusApp/#777]( https://github.com/TCA-Team/TumCampusApp/issues/777)

[2018-04-27 08:15] #245 closed

[2018-04-27 08:50] kordianbruck commented on #248
FYI: api will be implemented on the server and be provided with the other functions for caching reasons.

[2018-05-01 11:02] kordianbruck opened #250 "Change LRZ id to TUM id"
Officially the Name is: "TUM Kennung". Please change it at the setup screen and anywhere else you use the correct term LRZ Kennung.

[2018-05-11 08:56] kordianbruck opened #252 "Typo in Grades"
User Feedback

[2018-05-25 14:02] thellmund opened #253 "Update copyright throughout the application"
In some classes, we have copyright that points to chair 1 (Applied Software Engineering).
It should use GPL v3: https://github.com/TCA-Team/iOS/blob/master/LICENSE

The copyright at the top of all classes should be updated accordingly.

See @kordianbruck’s comment for more info: https://github.com/TCA-Team/iOS/pull/251/files#r187782101

[2018-06-03 21:08] #250 closed

[2018-06-14 11:45] thellmund commented on #111
Added Firebase in #254.

[2018-06-14 12:18] thellmund opened #255 "Wrong height of navigation bar"
When opening the app, the navigation bar is displayed with a wrong height. It stays like this until you scroll the CollectionView.

![simulator screen shot - iphone 7 plus - 2018-06-14 at 14 17 12](https://user-images.githubusercontent.com/11819826/41411607-bbd00d52-6fdd-11e8-9cc7-bdf2b45682c3.png)

[2018-06-14 13:17] #111 closed

[2018-06-14 13:37] #69 closed

[2018-06-14 13:39] kordianbruck opened #256 "Release ToDo"
- [ ] Implement card order
 - [ ] Show something on card selections
 - [ ] Maybe add network timeout and no connection screen

[2018-06-15 10:38] TG908 commented on #253
implemented in #251

[2018-06-15 10:38] #253 closed

[2018-06-15 10:39] TG908 commented on #220
Implemented i #251

[2018-06-15 10:39] #220 closed

[2018-06-15 10:44] TG908 commented on #68
Implemented in #251

[2018-06-15 10:44] #68 closed

[2018-06-15 11:13] TG908 commented on #255
The animation for the search bar is also buggy...

[2018-06-15 15:34] thellmund commented on #255
Fixed in #258.

[2018-06-19 09:42] #26 closed

[2018-06-19 09:43] TG908 commented on #26
This feature has little to none to do with the university. Also this is not used too much in Android - so remove there as well

[2018-06-19 09:47] TG908 commented on #82
done

[2018-06-19 09:47] #82 closed

[2018-06-19 09:48] TG908 commented on #71
Maybe use another library...

[2018-06-19 09:49] #96 closed

[2018-06-19 09:49] TG908 commented on #96
not realisable

[2018-06-19 09:50] TG908 commented on #99
not gonna happen

[2018-06-19 09:50] #99 closed

[2018-06-19 09:52] TG908 commented on #116
Theres is not much to handle

[2018-06-19 09:53] TG908 commented on #116
Unfortunately the focus of the app should not be to override TUMonline but to extend its features. Handling those links would mean that we are implementing those features in a compatible manner with all extensions. This is not currently possible

[2018-06-19 09:53] #116 closed

[2018-06-19 09:55] TG908 commented on #132
done

[2018-06-19 09:55] #132 closed

[2018-06-19 10:05] TG908 commented on #160
We cannot get the ical url token

[2018-06-19 10:05] #160 closed

[2018-06-19 10:36] TG908 commented on #252
Already fixed

[2018-06-19 10:36] #252 closed

[2018-06-19 10:37] TG908 commented on #218
should be fixed

[2018-06-19 10:37] #218 closed

[2018-06-19 11:08] #155 closed

[2018-06-19 11:08] TG908 commented on #155
done

[2018-06-19 11:10] TG908 commented on #200
Obsolete

[2018-06-19 11:10] #200 closed

[2018-06-19 11:13] TG908 commented on #213
Currently this is semi cool. Web scraping is not the best way to do this and as long as there is no api, I'm against implementing this.

[2018-06-19 11:13] #213 closed

[2018-06-19 11:17] thellmund commented on #221
Server issue.

[2018-06-19 11:17] #221 closed

[2018-06-19 11:18] thellmund commented on #222
Related to #35. Update according to default campus the user selects in the app.

[2018-06-19 11:22] thellmund commented on #237
Low priority as we currently need to work on more important issues.

[2018-06-19 11:25] thellmund opened #266 "Replace PickerView with AlertSheet"

[2018-06-19 11:26] thellmund opened #267 "Firebase notifications"

[2018-06-19 11:27] thellmund opened #268 "Intelligently scheduled notifications (cafeteria, tuitions)"
**Problem today**
In order to retrieve any kind of information, the user needs to open the app.

**Idea**
Like the Android app ([see here](https://github.com/TCA-Team/TumCampusApp/pull/879)), we can offer proactive information to the user. This includes:
1. a notification about the cafeteria menu, recurring each weekday at 11am
2. notifications about tuition fees before the due date
3. notificatio

[2018-06-19 11:27] thellmund opened #269 "Feedback screen"

[2018-06-19 15:59] TG908 commented on #266
![image](https://user-images.githubusercontent.com/7985149/41609163-6ed6429e-73ea-11e8-83d9-0ba352f3abc9.png)

[2018-06-19 19:31] thellmund commented on #256
For item 4: What’s the desired behavior? Should News only display non-newsspread items?

[2018-06-19 20:32] TG908 commented on #256
yes

[2018-06-20 06:29] thellmund commented on #256
Done in #271.

[2018-06-20 07:04] kordianbruck opened #272 "News Alerts"
We want the news alert to be shown on the top. This is a simple Image with a linkable URL and expiry date.

https://app.tum.de/Api/news/alert/

![whatsapp image 2018-06-15 at 02 19 11](https://user-images.githubusercontent.com/298860/41642553-e643899e-7468-11e8-96de-9f0e9a0dd3bf.jpeg)

[2018-06-20 10:33] thellmund commented on #256
Fixing the poster size is in progress in #273.

[2018-06-20 23:39] #255 closed

[2018-06-24 16:31] thellmund opened #275 "Relative date formatting for calendar events"
For calendar events that occur today or tomorrow, we should use relative date formats (such as “Today at 9 PM”) rather than the absolute date.

[2018-06-24 17:10] thellmund opened #276 "Replace static cell height"
Today, each `TUMDataSource`provides its desired cell height via a property. This can result in odd cell sizes, as we don’t take into account the actual screen size.

Instead of using a static value, each `TUMDataSource` should provide its desired size via a protocol method like `preferredSize(for: collectionView.frame)`.

[2018-06-24 20:53] thellmund opened #277 "Add placeholder if CardViewController is empty"
Add a placeholder for situations where the CardViewController stays entirely empty. Probably best to build on #265.

[2018-06-24 20:57] thellmund commented on #256
Please don’t keep adding to this list. There are always things we could be doing before release, but then we’ll never release anything.

[2018-06-27 11:59] thellmund commented on #276
We should also keep iPad in mind here. For instance, we have a `UICollectionViewDelegateThreeItemHorizontalFlowLayout` which works great on phones, but not on iPad. On iPad, we could display as many items as fit (both portrait as well as landscape).

[2018-06-27 12:01] thellmund commented on #276
This also seems like a good place to replace `UICollectionViewFlowLayoutDelegate` with a subclass of `UICollectionViewLayout`, as suggested by @TG908.

[2018-06-30 16:59] thellmund commented on #237
Duplicate of #266.

[2018-06-30 16:59] #237 closed

[2018-06-30 22:30] thellmund commented on #276
Working on this in #280.

[2018-07-01 23:49] TG908 commented on #277
Yeah build on #265 please don't add a card as in the android version

[2018-07-05 15:06] #266 closed

[2018-07-07 12:21] thellmund commented on #276
Fixed in #280.

[2018-07-07 12:21] #276 closed

[2018-07-07 12:25] thellmund opened #286 "Make improvements for iPad"
While the app runs well on iPad, there are some adjustments we should make, such as using FormSheets when presenting a ViewController.

[2018-07-07 12:38] thellmund opened #287 "Improve design of News screen"
The current design of the `NewsTableViewController` presents some potential for improvement. The current problems are:
1. The text sizes and margins are odd.
2. TU Film movies and news items share the same cell design, even though the former has portrait images and the latter has landscape images. As a result, the news images are tiny and don’t provide any value to the user.
3. We could potentiall

[2018-07-08 17:08] TG908 opened #288 "Cleanup project structure"
We have lots of source files all in one folder. We should consider placing them into folders according to their group in the xcode project.

[2018-07-09 15:23] thellmund opened #289 "Add event view in calendar"
The calendar functionality should be aligned with the Android version, namely:
1. Allow the user to see details on a calendar event when tapping on it. This should also allow the user to open the room finder for events with a location.
2. Delete existing calendar event.
3. Edit existing calendar event.
4. Add new calendar event.

[2018-07-09 15:32] thellmund opened #290 "Expand information in person details"
The person details only provide the picture, name and e-mail address. We should align its functionality with the Android version and offer:
1. Phone numbers
2. Office (integrate with room finder)
3. Website
4. Title
5. Groups (e.g. when a person is leading a chair)

[2018-07-09 16:03] thellmund opened #291 "Switch to different week view library"
The current library does not work properly on iPad and has some other UI problems. We should see if other libraries can be a replacement.

[2018-07-09 21:32] kordianbruck commented on #289
This issue is too big. Please split it up. Not sure that we currenlty _can_ delete events.

[2018-07-09 21:35] thellmund commented on #289
I will split the tasks into multiple issues. This issue was more of a brain-dump on my part.

[2018-07-10 09:19] thellmund commented on #286
Working on this in #292.

[2018-07-10 13:34] TG908 opened #293 "App crashes when tapping on Tuition Fees card"
Bug found in lastest beta build (11)

[2018-07-10 14:07] TG908 opened #294 "Logic behind network timeouts needs to be improved"

[2018-07-10 14:48] thellmund commented on #293
I also noticed than when working on #292, though I thought it was only in that branch. We can roll out #292 in 2.0.1 to fix it, ok?

[2018-07-10 17:34] TG908 opened #297 "Layout for MVG Station View needs improvements"
The image says it all:

![img_27cee28b2c62-1](https://user-images.githubusercontent.com/7985149/42527154-2c5177ec-8478-11e8-8f0d-ab52b19d3ed0.jpeg)

[2018-07-10 17:36] TG908 opened #298 "Add paging to all Card Views with nested CollectionViews"
It would be nice to have paging for all Card Views with a nested collectionView. Like mensa, newsspread, news ...

[2018-07-10 23:51] thellmund commented on #293
Fixed in #292.

[2018-07-10 23:52] #293 closed

[2018-07-10 23:52] thellmund commented on #286
Done with #292.

[2018-07-10 23:52] #286 closed

[2018-07-30 10:24] tumcode opened #304 "Verbesserungsvorschläge"
Hallo im Github der Android Version habe ich schon einige Vorschläge gemacht (https://github.com/TCA-Team/TumCampusApp/issues/1024), diese sollte ich nochmal hier posten:
- Es wäre cool, wenn moodle Kurse unter “Lehrveranstaltung” verlinkt wären.
- Mit “schmutzige Toiletten“ könnten Nutzer die Raumnummer einer verstopften Toilette melden. So könnte es vermieden werden, dass Toiletten länger unbenu

[2018-07-31 11:50] kordianbruck commented on #304
@tumcode
* Gute Idee, das könnte man andecken, wobei man das mapping zwischen moodle kurs und TUM Lehrveranstaltung so eine manuelle Angelegenheit wäre.
* Dazu sollte man die Feedback Option verwenden, welche in den kommenden Monaten für iOS auch kommen sollte.
* Leider gibt es von TUMonline aus dafür noch keine API, eventuell ändert sich das bald und wir können auch den Studienplan anzeigen lasse

[2018-08-01 09:41] tumcode commented on #304
- Bist du dir sicher, dass die moodle Kurse manuell verlinkt werden müssten? Wenn du eine Lehrveranstaltung auf TUM Online auswählst, ist dort der moodle Kurs verlinkt (siehe Screenshot)
![logistik_tum-online](https://user-images.githubusercontent.com/41841593/43514153-d816dcee-957f-11e8-9e18-5d620d355ab9.JPG)
![statistik_tum-online](https://user-images.githubusercontent.com/41841593/43514155-d837

[2018-08-14 10:43] tumcode commented on #304
- Ferner würde ich gerne ein weiteres Feature vorschlagen: Viele TUM-Kurse haben zwar Foren auf moodle, Slack, Piazza und weiteren Plattformen, viele aber auch nicht. Vor allem die moodle-Foren werden aufgrund der fehlenden Anonymität nicht gerne benutzt. In vielen Kursen, welche die gleichen Übungsblätter- oder bücher über Jahre verwenden, wäre es ferner sinnvoll, wenn die Foren mehr als ein Jahr

[2018-09-15 21:45] TG908 opened #305 "Removed unused libraries and assets"
I'd like to remove all unused libraries and low quality unused assets.

[2018-09-19 19:58] kordianbruck commented on #304
Es gibt aktuell überhaupt keinen Zugriff auf den Studienplan, sodass wir gar nicht wissen, welche Fächer jeder erledigen muss.

[2018-10-02 12:43] kordianbruck opened #308 "Location inaccurate"
https://www.support.tum.de/otrs/index.pl?Action=AgentTicketZoom;TicketID=3051049

[2018-10-16 08:35] ffittschen commented on #297
In the AppStore version of the app it is still an issue, can I work on this as part of Hacktoberfest?

[2018-10-16 08:48] lukaskollmer commented on #297
@ffittschen sure!

[2018-10-16 09:48] TG908 commented on #297
I was going to add a timer to the MVG card if you were planning to do the same let me know.

[2018-10-16 11:58] ffittschen commented on #297
@TG908 Did you already start? I reused the style of the Card, so I could also extract it into one component as well. This would result in both having the timer and looking like the departure in the Card (see screenshot)

<img width="320" alt="screen shot 2018-10-16 at 13 53 06" src="https://user-images.githubusercontent.com/7734806/47014714-585c5a80-d14b-11e8-8b1c-b5c827494e83.png">

[2018-10-16 13:10] TG908 commented on #297
I didn’t start yet. If you could make this work that‘ll be great.

[2018-10-16 19:46] TG908 commented on #269
How should the user provide feedback via email or a custom form?

[2018-10-16 19:48] TG908 commented on #35
Done in #119

[2018-10-16 21:35] kordianbruck commented on #269
@TG908 there is an API endpoint that sends the email out. Can you extract it from android or do you need help?

[2018-10-17 08:56] ffittschen opened #312 "Departures that departed more than a minute ago should be hidden"
As a follow up from #297 and #311, I'd like to discuss hiding departures that are older than one minute.

Currently, the collection view and table view happily displays all departures, but doesn't refresh the underlying data periodically.

This results in views that show old departures if they are open for some time:
<img width="320" alt="screen shot 2018-10-17 at 10 48 25" src="https://user-image

[2018-10-18 15:42] TG908 commented on #312
Your idea sound good. We could also just fire a timer ever second to refresh/remove the departures.

[2018-10-20 14:37] #297 closed

[2018-10-20 14:47] kordianbruck commented on #312
Yea, great idea. I like the use of the timer to hide older timer. Please just don't spam the MVV API, so they don't block us.

[2018-10-26 11:17] #308 closed

[2018-11-01 09:57] lukaskollmer opened #318 "refreshing the study rooms list resets the selected location"
Steps to reproduce:
- Open the study rooms view
- Switch to a different location
- Refresh
- Location always resets to the MI library

See [this](https://lukaskollmer.s3.amazonaws.com/campus_ios_refresh_study_rooms.mp4) screen recording

[2018-11-01 10:47] nerdsupremacist commented on #318
Ah! Refresh sync bugs with immutable models! We meet again! Thinking about creating a library for this, but a solution is tightly coupled with the refresh architecture. Ah!!!!

[2018-11-01 10:50] kordianbruck commented on #318
Just wondering, if there are not standard libraries for all that networking, refreshing logic? I mean we can't be the first people running into this crap.

[2018-11-01 12:33] TG908 commented on #318
happens also to cafeteria and news

[2018-11-17 23:08] lnsp opened #320 "TUM.sexy does not show up"
No TUM.sexy result shows up in search and the TUM.sexy view does not work either.

[2018-12-15 15:39] SuriyaaKudoIsc opened #322 "Improve "Publishing a new version" section in README.md"
To do:
- [ ] Add links
- [ ] Highlight commands and directories better

[2018-12-19 01:22] #320 closed

[2018-12-19 12:39] tumcode opened #324 "Integration des TeleTeaching Tool"
Die iPad App des TeleTeachingTools wurde entwickelt, ist aber nicht mehr verfügbar, aufgrund der Lizenzgebühren des AppStores. Siehe: http://ttt.in.tum.de/

Da die TCA iOS App ohnehin existiert, kann vermutlich leicht die TTT App eingebunden werden? Dies würde die Weiternutzung des bestehenden Codes gewährleisten.

[2018-12-19 12:55] TG908 commented on #324
@kordianbruck

[2018-12-25 14:36] TG908 commented on #324
Wir können die App in TUM-Dev aufnehmen und veröffentlichen. Ich habe auf den Screenshots auf der ttt Seite gesehen, dass die App schon etwas outdated ist. Wir haben im Moment nicht genug iOS Entwickler um die App zu überarbeiten. Gibt es jemanden (im ttt team) der sich um so etwas kümmern würde?

[2018-12-27 12:09] lukaskollmer opened #325 "Refreshing the TU Film list also loads all news items"
possibly related to #318 ?

[2019-01-02 21:36] kordianbruck commented on #325
It should I think. @TG908 thoughts?

[2019-01-02 22:09] lukaskollmer commented on #325
@kordianbruck to clarify, [this](https://lukaskollmer.s3.amazonaws.com/ScreenRecording_01-02-2019+22-54-41.mp4) is what i'm talking about.

IMO, the film list should always only include movie items, since it's clear that the user opened that view with the intention to see a list of movies (if they wanted to see news, they'd tap the "show all news" button)

[2019-01-02 22:12] TG908 commented on #325
Correct this is not intended. Its a bug with News/MovieManager. Im thinking of rewriting the whole app so this will get fixed eventually.

[2019-01-04 20:55] kordianbruck commented on #325
@TG908 "the whole app" - wut

[2019-01-04 20:58] kordianbruck commented on #324
@tumcode wo findet sich der aktuelle quelltext denn?

[2019-01-04 21:19] tumcode commented on #324
@kordianbruck der Quelltext findet sich auf dieser Seite: https://versioncontrolseidl.in.tum.de/petter/teleteaching-standalone/wikis/home
Dies ist der aktuelle Ansprechpartner des Projektes: http://www2.in.tum.de/hp/Main?nid=27

Ich denke das die Integration des TeleTeachingTools nochmal die Reichweite der TUMCampus App erhöhen kann, da sie noch mehr Studenten installieren, um die Funktionen des T

[2019-02-05 14:37] TG908 opened #326 "Update Mensa API Endpoint"
http://lu32kap.typo3.lrz.de should be replaced by: https://www.devapp.it.tum.de

[2020-06-03 20:21] TG908 commented on #326
no longer applicable due to app rewrite

[2020-06-03 20:21] #326 closed

[2020-06-03 20:21] TG908 commented on #325
no longer applicable due to app rewrite

[2020-06-03 20:21] #325 closed

[2020-06-03 20:21] TG908 commented on #318
no longer applicable due to app rewrite

[2020-06-03 20:21] #318 closed

[2020-06-03 20:22] TG908 commented on #312
no longer applicable due to app rewrite

[2020-06-03 20:22] #312 closed

[2020-06-03 20:22] TG908 commented on #298
no longer applicable due to app rewrite

[2020-06-03 20:22] #298 closed

[2020-06-03 20:22] TG908 commented on #294
no longer applicable due to app rewrite

[2020-06-03 20:22] #294 closed

[2020-06-03 20:22] TG908 commented on #291
no longer applicable due to app rewrite

[2020-06-03 20:22] #291 closed

[2020-06-03 20:23] TG908 commented on #288
no longer applicable due to app rewrite

[2020-06-03 20:23] #288 closed

[2020-06-03 20:23] TG908 commented on #287
no longer applicable due to app rewrite

[2020-06-03 20:23] #287 closed

[2020-06-03 20:23] TG908 commented on #277
no longer applicable due to app rewrite

[2020-06-03 20:23] #277 closed

[2020-06-03 20:23] TG908 commented on #275
no longer applicable due to app rewrite

[2020-06-03 20:23] #275 closed

[2020-06-03 20:23] TG908 commented on #248
no longer applicable due to app rewrite

[2020-06-03 20:23] #248 closed

[2020-06-03 20:24] TG908 commented on #229
no longer applicable due to app rewrite

[2020-06-03 20:24] #229 closed

[2020-06-03 20:24] TG908 commented on #222
no longer applicable due to app rewrite

[2020-06-03 20:24] #222 closed

[2020-06-03 20:24] TG908 commented on #216
no longer applicable due to app rewrite

[2020-06-03 20:24] #216 closed

[2020-06-03 20:24] TG908 commented on #215
no longer applicable due to app rewrite

[2020-06-03 20:24] #215 closed

[2020-06-03 20:25] TG908 commented on #212
no longer applicable due to app rewrite

[2020-06-03 20:25] #212 closed

[2020-06-03 20:25] TG908 commented on #211
no longer applicable due to app rewrite

[2020-06-03 20:25] #211 closed

[2020-06-03 20:25] TG908 commented on #174
no longer applicable due to app rewrite

[2020-06-03 20:25] #174 closed

[2020-06-03 20:25] TG908 commented on #133
no longer applicable due to app rewrite

[2020-06-03 20:25] #133 closed

[2020-06-03 20:25] TG908 commented on #95
no longer applicable due to app rewrite

[2020-06-03 20:25] #95 closed

[2020-06-03 20:26] TG908 commented on #61
no longer applicable due to app rewrite

[2020-06-03 20:26] #61 closed

[2020-06-08 11:12] max-ae opened #334 "App crashing on startup"
After the 3.0 update, the app is crashing on startup.
I managed to get past the token authorization, but then the app proceeds to crash every subsequent launch.

App version 3.0
iPhone 11 Pro Max, iOS 13.5.1

[2020-06-08 11:25] TG908 commented on #334
Thank you for your feedback. We have already found the issue and submitted a new build to the appstore. In the meantime if you change your app language to English in Settings > Campus App > Language you should be able to use the app again.

[2020-06-08 11:25] #334 closed

[2020-06-08 11:35] TG908 commented on #334
The new beta build is available on [testflight](https://testflight.apple.com/join/AlXCNNOS)

[2020-06-09 23:52] #223 closed

[2020-07-13 18:04] TG908 commented on #290
done

[2020-07-13 18:04] #290 closed

[2020-07-13 18:07] #103 closed

[2020-09-12 21:37] kordianbruck opened #341 "User Feedback for Mensa"

[2020-09-12 21:40] TG908 commented on #341
Dark mode issue?

[2020-09-14 22:30] TG908 commented on #341
fixed

[2020-09-14 22:30] #341 closed

[2020-09-22 14:06] TG908 commented on #197
done

[2020-09-22 14:06] #197 closed

[2020-09-28 17:56] Bentipa opened #342 "Feature Designs"
Create Mockups for planned Features

[2020-10-13 22:32] kordianbruck opened #343 "Feedback for Grade Colors"
Just a very short feedback concerning the coloration of the grades:
I‘m honestly no one who cares about semi good or even bad grades but especially
regarding the student who are highly emotionally effected by their grades could be
touched by the coloring.

pretty good grade), very bad because the grade was already “orange”. Which gave me the
feeling that even as finishing as one of the best 10% in

[2020-10-17 19:40] #343 closed

[2020-10-20 05:54] simonbohnen opened #346 "[Bug] Labels in Grade bar plot are off center"
As you can see in this screenshot, the labels on the x-axis are not centered to the middle of the bars:
![IMG_B95F82452340-1](https://user-images.githubusercontent.com/26229617/96545750-42894f00-12a9-11eb-9f03-5c1a5cdea1f7.jpeg)

[2020-10-23 17:46] #346 closed

[2020-10-31 17:02] simonbohnen opened #348 "Show which exam results are still "In Progress""
Exam results can be "In Progress" or a "Valid Achievement", and possibly other states:
<img width="1155" alt="Screenshot 2020-10-31 at 17 42 57" src="https://user-images.githubusercontent.com/26229617/97784700-add3fa80-1ba0-11eb-89ea-bdc7a2964228.png">

It would be nice if these states were visible in the Grades tab.

<img width="414" alt="IMG_906CEE0114E9-1 copy" src="https://user-images.githubus

[2020-11-01 22:33] tgymnich commented on #348
Thanks for the suggestion. At the moment the TUMOnline API doesn't provide this information.
cc @kordianbruck

[2020-11-01 23:55] kordianbruck commented on #348
Hopefully we can get this with the "new API" that might come around next year or in two years. But currently I don't see how this would be possible. Closing as its really infeasible - feel free to reopen in a year. Thanks for your suggestion however, so keep em coming! :+1:

[2020-11-01 23:55] #348 closed

[2020-11-02 06:12] simonbohnen commented on #348
Ah ok, that's a bummer. Is there a documentation for the TUMonline API? Couldn't find anything 🤔

[2020-11-03 21:42] kordianbruck commented on #348
Not that I know of, but you can check the code in the app to see how it works. Its not complicated.

[2020-11-05 00:26] kordianbruck opened #349 "Calendar: hide cancelled events"
In Android we already have this feature, see [this query for how to fetch those](https://github.com/TUM-Dev/Campus-Android/blob/d9039838ce3a20963d941ebea65b1be1181ef8e8/app/src/main/java/de/tum/in/tumcampusapp/component/tumui/calendar/CalendarDao.java#L16)

[2020-11-05 21:57] alexjoham opened #350 "Exam notification"
I've got the idea to add a notification for the registration for exams.
This notifications reminds the user to registrate themselves to the exams.

Maybe we can implement this feature using one (or both) of these two options:

1. notification by a message from the app in the notifications section of the iPhone
2. notification in the app with options to decide if you want to get reminded later or n

[2020-11-05 22:07] tgymnich commented on #350
Great idea. For this to work we would need a way to figure out when exam registration starts or when the exams will be written.

[2020-11-05 22:59] kordianbruck commented on #350
One idea would entail somehow anonymously reporting centrally what lectures / calendar entries people have. So as soon somebody has a "prüfung für xyz" on their calendar, we could let everyone else know that there might be the possibility of an open sign up. This would be a bit of a hack and we'd need to somehow get the calendar events on the server side, but not undoable.

[2020-12-16 19:08] AW-tum opened #351 "A little beauty scar, should be fairly easy to fix and not take long"
copy pasted from our feedback function:

In the TUMonline-App for iPhone are no line breaks shown in in the "Additional Info"
field. Furthermore there is after a certain character limit only "…" shown, but you cannot
click on the field to view all information.

[2020-12-16 19:18] tgymnich commented on #351
I have no idea what the "Additional Info" filed is referring to.

[2020-12-16 19:20] AW-tum commented on #351
hmmm no idea
if he´s the only guy having this problem it might not be that important anyway

[2020-12-16 19:20] #351 closed

[2020-12-22 03:58] simon300000 opened #352 "Calendar and timezone"
Seems like the calendar doesn’t support different time zones

for example, I am in China, UTC+8
Events in the calendar should be adjusted to a later time.

A different solution would be use Germany time for current time instead of the system time

iOS Version: 14.2
App Version: 3.7
Build Version: 40

Picture might be helpful:
![0E507031-80AA-4647-BE95-B84CDE54DB58](https://user-images.githubuserco

[2021-01-06 18:18] Husain0007 commented on #16
Hello @nerdsupremacist  👋 ,
I am a first-year MS student at TUM just starting out with Swift Development. Since this issue is considered a low priority do you mind if I work on it ?
Look forward to hearing from you 😄

[2021-01-06 20:06] kordianbruck commented on #16
Hey,

yes, feel free to start working on it. You can have a look at the android app that has a list of most of the API endpoints used for this.

Thanks!

[2021-01-06 21:02] nerdsupremacist commented on #16
Hey! thank you so much for helping out! Go right ahead. Don't hesitate to reach out to me or to @tgymnich

[2021-01-07 14:01] Husain0007 commented on #16
@kordianbruck & @nerdsupremacist  thank you for letting me work on this issue 😄 👍  .
I'll look into the API endpoints on the Android side and try to incorporate those into my project.
I'll be sure to reach out if I run into any problems

[2021-01-11 02:34] tgymnich commented on #352
Thanks for letting us know. This will be fixed in version 3.8

[2021-01-11 02:34] #352 closed

[2021-01-17 03:03] #349 closed

[2021-01-29 14:44] joschahenningsen opened #353 "Student fees not parsed correctly"
https://github.com/TUM-Dev/Campus-iOS/blob/5273980322a6a01b66998d3a8833112633ddd2c2/TUM%20Campus%20App/Tuition/Tuition.swift#L43

This seems to miss a german locale, the string "144,40" is parsed to 144. Originally reported at https://github.com/TUM-Dev/Campus-Android/issues/1380

Unsure if that's actually the underlying issue, never used swift.

[2021-01-31 14:57] #353 closed

[2021-02-03 14:27] tgymnich opened #355 "LV Detail shows wrong semester"
When tapping on a lecture the detail views semester field contains the wrong value.

[2021-02-06 01:18] tgymnich commented on #355
Looks to me like a bug in the TUM Online API.

[2021-04-06 11:05] tgymnich opened #356 "Add Month View to Calendar"
This Library might be a good choice: https://github.com/kvyatkovskys/KVKCalendar

[2021-04-06 11:09] #356 closed

[2021-04-06 11:09] tgymnich commented on #71
This Library might be a good choice: https://github.com/kvyatkovskys/KVKCalendar

[2021-06-25 17:29] ChrGrb opened #357 "Verbesserungen Mensa Screen"
- Möglichkeit zur Navigation zur Mensa (über Apple Maps relativ einfach zu lösen)
- Funktionalität bei Klick auf Pin (ev. einfach der selbe Screen der das Menu anzeigen soll)

[2021-06-25 17:31] ChrGrb opened #358 "Performanz Mensamap"
Beim scrollen nach oben auf dem Mensa Screen bringt die Framerate stark runter.

[2021-06-25 17:49] AW-tum opened #359 "Lecture notification"
Would be pretty cool to be able to set an alarm which goes off 5/15/20/etc. min (can be set by user) before a lecture starts.

[2021-06-25 17:56] tgymnich commented on #358
This should be addressed in a SwiftUI rewrite. I don't have the time to work on that right now though. But we are happy for anyone willing to contribute to a SwiftUI rewrite.

[2021-06-25 18:07] AW-tum opened #360 "Alarm notification"
So  the Android App notifies you if an alarm/test-alarm goes off on campus
Would be cool if that would be possible on the iOS App too

I believe a simple notification should be enough
Although an improvement could be clicking on the notification and being forwarded either to some TUM Website about this specific alarm or an App-intern VC which just tells you what happened/if it´s a real alarm

[2021-06-25 18:10] tgymnich commented on #360
Related to #9

[2021-06-26 09:30] ChrGrb opened #361 "Mensa Menu Bug"
- Es wird bei den meisten Mensas kein Menü angezeigt.
- Das Datum bei der Mensa Garching ist verdreht: Aktuelle MM.DD.YYYY - Sollte DD.MM.YYYY

[2021-06-26 12:26] tgymnich commented on #361
This seems to be an issue with tum eat api: https://tum-dev.github.io/eat-api.
I can take a look at the date issue though

[2021-06-29 19:03] tgymnich opened #362 "SwiftUI rewrite"

[2021-07-04 00:49] tgymnich commented on #361
fixed in 62e41e7060d67d6dccfaad3e1491ff6320a2e983

[2021-07-04 00:49] #361 closed

[2021-07-04 16:48] AW-tum opened #363 "User Feedback: Study Rooms"
"- Please make all rooms in devapp.it.tum.de/iris/app available, not only the ones of StudiTUM Innenstadt.
- Show the green, lightgreen, yellow, red, grey indicator like in devapp.it.tum.de/iris/app instead of only free/occupied.
- Show uncategorized rooms like in devapp.it.tum.de/iris/app
- Show opening hours from sv.tum.de/sv/das-machen-wir/projekte/studitum-haeuser-der-studierenden/"

[2021-07-04 16:49] AW-tum opened #364 "User Feedback: Room Finder"
Integrate [campus.tum.de](url) RoomFinder. When searching in the App > Roomfinder for "Siemens" nothing is displayed, but in [campus.tum.de](url) there is an entry (unfortunately not for Siemens-Hörsaal as well)

[2021-07-04 16:51] AW-tum opened #365 "User Feedback: Cafeterias"
- Show a PDF link if no menu is available (see [hunger.tum.sexy](url))
- Show all bistros/cafeterias e.g. also Pita Booth like on hunger.tum.sexy (I think this is forwarded to [github.com/TUM-Dev/eat-api](url))
- Integrate queue length of [mensa.liste.party](url)

[2021-07-04 16:51] AW-tum opened #366 "User Feedback: News"
Implement separate selectable push notifications for the categories: TU Film, other news

[2021-08-02 13:25] CommanderStorm opened #367 "User Feedback: Inconsistent Profile(pictures)"
The profile you get is mostly dependent on which part of the button you click. However this behaviour is not consistently deterministic.

The black and white picture is the one I would expect as this is the picture in TUMOnline. The color picture is an old one from my ID-Card.

I tried reinstalling the app and resetting the token
Hope this information is helpful.

![image](https://user-images.gith

[2021-08-23 08:13] chFlorian commented on #362
I just scrolled throught the open issues and found this one. Is there a bit more context? Do you need help with it?

[2021-08-23 09:35] tgymnich commented on #362
Currently I don't have the time to start the rewrite for SwiftUI myself. Feel free to start with it yourself.

[2021-08-23 09:58] chFlorian commented on #362
Alright, I'll start the rewrite then. Is iOS 13.0 still the minimum version requirement or are you planning on increasing it to 14 or 15?

[2021-08-23 10:29] tgymnich commented on #362
Almost all of our users are at least on iOS 14 now. So feel free to bump the minimum deployment target. You even make it iOS 15 if you need to.

[2021-08-23 10:30] chFlorian commented on #362
Sounds good! Integrating the SwiftUI Views will take a while, as I'm not experienced there. But the first View is already almost done (Lectures).

[2021-08-23 10:31] tgymnich opened #368 "Switch Calendar implementation"
We should use this package for our calendar going forward:
https://github.com/kvyatkovskys/KVKCalendar

[2021-10-29 19:17] tgymnich commented on #368
As far as I know, nobody is currently working on this. Thanks for helping.

[2021-10-29 19:21] tgymnich commented on #367
The core data cache right now has no real purpose. We are also having similar issues with grades for exams the user has taken multiple times.

[2021-11-11 11:18] mvitanov commented on #368
#372 created to resolve this issue

[2021-11-11 11:32] mvitanov commented on #367
@tgymnich Do you think it will be a good idea to store some of the API responses in cache (Profile Pic, cafeterias) and others (calendar events, lectures, grades) in some form of persistent memory (SQLite, Keychain) to avoid so many requests to TUMApi? We would introduce refreshing to allow the user to trigger the requests and update the local storage. And of course APIs like free study rooms shou

[2021-11-11 12:24] mvitanov commented on #269
Is someone working on this issue? If not, I can give it a try.

[2021-11-18 06:33] ChangyuYan opened #373 "Loging-in doesn't make any difference"
So I logged into my account by entering my id, and authorizing the token. However, even after logging in, my name is not shown; all the tabs and data are still empty.

Any tips? Thanks!

[2021-11-18 08:03] FlorianDev commented on #373
Did you also enable the permissions inside the token?

[2021-12-01 09:14] NikolaiMadlener opened #374 "Homescreen-widget for Mensa menu"
Widget for home screen that displays menu of the day at the Mensa of the user's choice (or the Mensa that is nearest to the user's current location)

[2021-12-02 15:10] #373 closed

[2021-12-02 15:12] tgymnich commented on #367
Some kind of cache would be nice. I don't know if using CoreData is a good idea going forward.

[2021-12-02 15:15] tgymnich commented on #374
Great idea. Linking #85

[2021-12-07 16:07] Philipp000 opened #375 "Include mensa stats into the cafeteria view"
I've recently seen the mensa queue length tool on GitHub(https://github.com/dieliste/mensa) and would like to see it in the cafeteria view of the Campus App.

I would propose to crawl the webpage: https://mensa.liste.party/ and show the stats in the app.
I would also like to start working on this.

[2021-12-07 16:33] tgymnich commented on #375
Sounds like a good idea. We should also consider asking / helping them to provide an API or integrate such a feature into our own API.

[2021-12-07 16:40] Philipp000 commented on #375
Okay, I will open another issue at their project, as an API would be really nice to have

[2021-12-08 19:49] philippzagar opened #376 "Lecture view"

[2021-12-08 19:49] philippzagar opened #377 "Calendar events migration"

[2021-12-08 19:49] philippzagar opened #378 "Grade view"

[2021-12-08 19:49] philippzagar opened #379 "Cafeterias view"

[2021-12-08 19:50] philippzagar opened #380 "Study rooms view"

[2021-12-08 19:50] philippzagar opened #381 "Login View"

[2021-12-08 19:50] philippzagar opened #382 "SettingsView"

[2021-12-08 20:12] philippzagar opened #383 "Mensa queue"

[2021-12-08 20:14] tgymnich commented on #383
duplicate for #375

[2021-12-08 20:16] #383 closed

[2021-12-09 20:51] NikolaiMadlener commented on #374
working on it, can you assign this one to me :)?

[2021-12-09 20:56] tgymnich commented on #375
For future reference https://github.com/dieliste/mensa/pull/8

[2021-12-09 20:57] #137 closed

[2021-12-09 20:58] tgymnich commented on #358
Resolved by #370

[2021-12-09 20:58] #358 closed

[2021-12-09 21:24] tgymnich commented on #381
@mvitanov Right now you can swipe down to dismiss the view. Is this a behaviour we want? Also the button could have some more spacing (between the text and the border). Everything else looks good so far 👍.

[2021-12-13 23:53] tgymnich commented on #374
Closed in #384

[2021-12-13 23:53] #374 closed

[2021-12-13 23:54] tgymnich commented on #85
Closed in #384

[2021-12-13 23:54] #85 closed

[2021-12-17 20:07] tgymnich opened #385 "Mensa Tab broken"
API has changed again ...

`Dish.ingredients` is now optional.

[2021-12-20 07:30] NikolaiMadlener commented on #385
working on it

[2021-12-21 14:13] Philipp000 commented on #385
We have now switched to a variant with `labels` instead of `ingredients` in the eat-api.
The explanations are now also available via `enums/labels.json` (https://tum-dev.github.io/eat-api/enums/labels.json)

Further, there will be a few additional changes, such as including english translations (https://github.com/TUM-Dev/eat-api/pull/87) and abbreviations (for easier references, https://github.co

[2021-12-22 20:57] NikolaiMadlener commented on #385
Thanks @Philipp000, good to know that you will also provide abbreviations etc. as I already started implementing that inside the App 😅 I guess I'll wait a bit until the those things are merged within the API :)

[2021-12-22 21:31] Philipp000 commented on #385
Ah okay, yeah i hope that it will be merged very soon.
If you have any other ideas for the eat-api feel free to add them, as probably other applications can benefit from it as well!  :)

[2021-12-28 00:12] philippzagar opened #388 "Lecture Details view"

[2022-01-11 16:12] Philipp000 commented on #385
What is the state of this issue?
I would like to work on this, if possible.

[2022-01-12 00:34] NikolaiMadlener commented on #385
I have not managed to look at it yet so feel free to go ahead :)

[2022-01-13 11:46] mvitanov opened #392 "TUM Sexy View"

[2022-01-13 11:47] mvitanov opened #393 "News View"

[2022-01-16 12:09] mvitanov opened #394 "Movies View"

[2022-01-27 17:39] #379 closed

[2022-01-27 17:41] #394 closed

[2022-01-27 17:42] #393 closed

[2022-01-27 17:42] #392 closed

[2022-01-27 19:08] mvitanov opened #400 "Roomfinder"

[2022-01-28 18:34] tgymnich commented on #400
http://roomapi.tum.sexy

[2022-01-28 18:35] tgymnich commented on #400
https://api.tum.app

[2022-02-02 19:25] AW-tum opened #401 "Menu Labels, LaunchScreen cleaning assets"

[2022-02-02 19:39] #388 closed

[2022-02-02 19:39] #376 closed

[2022-02-02 20:02] #381 closed

[2022-02-02 21:34] philippzagar opened #404 "Tuition view"

[2022-02-02 21:37] philippzagar opened #405 "Grades view for different study programs"

[2022-02-09 08:24] mvitanov opened #406 "Lecture/Person Search View"

[2022-02-09 08:30] mvitanov opened #407 "DetailedProfileView and adding contact to address book"

[2022-02-09 08:34] mvitanov commented on #382
Hey @Antonwy,

I think this view is duplicated with the profile functionality I created. Can you please let me know what this issue means (which view is that). Also I could not find any branch or source with your progress to check if it duplicated what I have done.

Can you let me know if you had made any progress? And if indeed this is already implemented, to close the issue.

Thanks,
Milen

[2022-02-09 09:15] Antonwy commented on #382
Hi @mvitanov

I didn't have time to continue working on it during the exam phase, so there is unfortunately no progress from my side. If you have an improved profile view, merge it into mine, or replace it.

Anton

[2022-02-09 13:14] Philipp000 commented on #401
Hey, wasn't this Issue regarding the cafeteria view?
I thought, it was assigned to me, but probably only in the project view?

[2022-02-09 20:26] mvitanov opened #411 "Mealplan Menu Labels"

[2022-02-09 20:29] #406 closed

[2022-02-09 20:29] #401 closed

[2022-02-09 20:29] #368 closed

[2022-02-09 20:30] #407 closed

[2022-02-14 08:07] mvitanov opened #414 "Inconsistent LectureDetails showed"
Hey,

I found out a small bug in Lectures section. It does not always open the correct lecture from the list.
Example lecture: Introduction to Deep Learing (see video below).

The problem is related to how lecture is passed from the List to the DetailsView, since in the calendar I use only the details view and the lecture is displayed correctly.
However, there I pull the lecture by LvNr number I t

[2022-02-23 22:27] mvitanov commented on #380
Simple design:

Keeping the big study rooms/groups (list of 5-6 entries). When you press on them, it shows a map on top with the location of the group. Below the map you have the small rooms with their availability.

[2022-02-23 22:41] mvitanov commented on #400
Use /roomfinder/room/search to search for a room Use /roomfinder/room/coordinates to display the selected room on a map. Use /roomfinder/room/scheduleById to display a room calendar with all its events for the time.

Discuss the usage of the API with TIM Dev

[2022-02-23 22:53] mvitanov opened #415 "Design Custom CalendatEventView"

[2022-02-23 22:54] #377 closed

[2022-03-17 08:55] philippzagar commented on #414
Fixed by #418

[2022-03-17 08:55] #414 closed

[2022-03-17 17:30] philippzagar opened #419 "Better Retry Error Handeling"

[2022-03-17 17:31] philippzagar opened #420 "Add functionality to open event room in RoomSearch"

[2022-03-17 17:40] mvitanov opened #421 "Profile Details show TUMID first time it is opened, then switches to other info"

[2022-03-17 17:40] mvitanov opened #422 "Add black border to the white grades in the colorful square boxes to make them readable no matter the color"

[2022-03-17 17:44] AW-tum opened #423 "Add SearchBar to TUM.sexy"

[2022-03-17 17:45] AW-tum opened #424 "Add notifications to the app"

[2022-03-17 18:08] AW-tum commented on #424
- grades

[2022-03-17 18:12] AW-tum opened #425 "Minor Design Tweaks Termine VC"

[2022-03-17 18:12] AW-tum opened #426 "Add Settings View"

[2022-04-06 17:58] #423 closed

[2022-04-06 18:10] #355 closed

[2022-04-19 15:16] 14slash12 opened #429 "Integration of SiriKit"
Use Siri to find Rooms e.g. "Hey Siri, find Room XY with the Campus App".

[2022-04-19 15:33] 14slash12 opened #430 "Consistent Color Scheme (Extension of UIColor)"

[2022-04-19 15:35] 14slash12 opened #431 "Create Notifications View on Profile View"
See a summary of all notifications. Accessable via the Profile View as new table cell.

[2022-04-19 15:37] 14slash12 opened #432 "Add Apple Watch Version"
Create an Apple Watch Version of the TCA:

- Notifications
- Grades
- Next Lecture/Exam

[2022-04-23 10:05] philippzagar commented on #430
Good catch, we should stick to our own TCA "Corporate-design" :)

[2022-04-23 10:06] philippzagar commented on #431
First we need some notifications to begin with, as already discussed ;)

[2022-04-23 10:07] philippzagar commented on #432
We'll handle this in the context of the "Smart-Stack" feature, which should make it way easier to display only the currently important information on the watch :)

[2022-04-28 19:22] philippzagar opened #433 "XCodeGen integration"

[2022-05-06 11:16] 14slash12 opened #436 "Implement a persistent Data Storage (CoreData)"
In order to store grades, lectures, etc. persistent on the device. Necessary to load the data if no internet connection is possible..

[2022-05-06 11:18] 14slash12 opened #437 "Add LRU-Cache to the rest of data types (e.g. Mensa/Cafeteria)"
Until now only the grades and lectures are stored in the LRU-Cache to reduce the network calls. This should be expand to all network calls (e.g. Mensa/Cafeteria).

[2022-05-06 11:19] 14slash12 commented on #436
This issue depends on WWDC22. If Apple releases a new better version of CoreData this should be the used

[2022-05-06 11:30] 14slash12 commented on #436
This issue depends on WWDC22. If Apple releases a new better version of CoreData this should be the used.

[2022-05-17 06:19] 14slash12 opened #439 "Implement an ViewModel for the MapView"
In order to adapt the MapView to the MVVM-Pattern we need to add an ViewModel for the `MapView` instead of just using `@State` and `@Binding` to share the properties in the subviews (`MapContent`, `Panel` and `Toolbar`) and the respectivley subsubviews etc.

[2022-05-28 14:56] 14slash12 opened #444 "Improve News View"
News view is buggy and needs way to long to load.

[2022-05-28 14:58] 14slash12 commented on #444
Problem solved with improving the NewsCards. Implementing the boolean value to just show and respectivley load the `NewsCards`, if the user expands a `Collapsible`.

**TODO**
- Only load the first 5 newest news in each Source-Collapsible and add a +10 button to load more
- Expand the news-overview with the latest 5 news from all sources

[2022-06-09 07:48] 14slash12 opened #448 "Implement animation/video for token management"
In order to show how a user should enable the token if she/he is using the app for the first time it would be neat to add an animation/video.

[2022-06-09 08:20] 14slash12 commented on #439
Done with pull request #447

[2022-06-09 08:20] #439 closed

[2022-06-09 08:21] 14slash12 commented on #437
Done with pull request #447

[2022-06-09 08:21] #437 closed

[2022-06-11 20:59] CommanderStorm commented on #400
This is outdated:
our API-Documtentation can be found here: https://editor.swagger.io/?url=https://raw.githubusercontent.com/TUM-Dev/navigatum/main/openapi.yaml

Once you are ready to switch to using us in production register on https://github.com/TUM-Dev/navigatum/issues/130 to prevent us from pushing updates without notice.

Please hit us up if you need any further help/something about our imple

[2022-06-16 20:00] #425 closed

[2022-06-16 20:00] #430 closed

[2022-06-18 23:00] 14slash12 opened #452 "Improving the Places View"
When switching between the cafeterias and the study rooms the complete view is loaded new. This causes a flicker and does integrate the `LoadingView` and the `FailedView` into the UI.

### When the device is offline:
![BeforeOffline](https://user-images.githubusercontent.com/59373377/174459601-cba2acd2-f5f6-46a9-8816-39728b8a2fe2.gif)

### When the device is online:
![BeforeOnline](https://user-im

[2022-06-18 23:09] 14slash12 commented on #452
Fixed with the following commit: b42c67cb0e99e069cfb7fad4103cff08f0eae65f
The fetching and showing of potential errors are now implemented inside the `PanelContentView` with a new `PanelContentListView`. There in will differentiated between cafeterias and study rooms. If fetching fails or is still loading this view will be changed instead of the whole `MapScreenView`.

### While device is offline:

[2022-06-18 23:30] 14slash12 commented on #448
This issue could be fixed by implementing a new video tutorial and redesigning the `TokenConfirmationView`.

![FixedToken](https://user-images.githubusercontent.com/59373377/174460087-ba081d44-f017-4007-9228-990c6855d28c.gif)

[2022-07-07 05:51] 14slash12 opened #456 "MapView: Making Annotations show the DetailsView of Cafeteria/Studyroom"
The DetailsView do not change when tapping on an annotation

https://user-images.githubusercontent.com/59373377/177701193-0b1b7a8e-2b2c-4a76-b7a0-07df5f3d3300.mp4

[2022-07-07 05:58] 14slash12 commented on #456
Fixed now on branch https://github.com/TUM-Dev/Campus-iOS/tree/feature/map-annotations-show-details with commit f073dd72090c5429e4f24ad787eaaa95922dd33b.

https://user-images.githubusercontent.com/59373377/177702169-d300280c-d215-495a-a4cb-0543689f5b8a.mp4

[2022-07-07 06:15] 14slash12 opened #457 "LectureDetailView: Adding a Link to RoomfinderView when tapping on the Location of a Lecture"
Currently the location of a lecture is just an info, but should be tappable to be redirected to the `RoomfinderView`:

<img width="297" alt="image" src="https://user-images.githubusercontent.com/59373377/177704492-ff6ade68-fa0b-4cd6-9b6b-b1c4ce0446e9.png">

[2022-07-26 10:09] #444 closed

[2022-07-26 10:10] #35 closed

[2022-07-26 10:10] #357 closed

[2022-07-26 10:11] #71 closed

[2022-07-26 10:12] #375 closed

[2022-07-26 10:12] #422 closed

[2022-07-28 12:34] tobiasjungmann opened #469 "Feature: Cafeteria Rating Integration"
## Feature: Cafeteria Ratings
We all like to eat food, especially if it tastes great. Let's add a rating system for cafeterias which helps by choosing the best cafeteria.

The backend for this is almost done and will hopefully be merged in the next days. The corresponding [PR](https://github.com/TUM-Dev/Campus-Backend/pull/70) describes all possible endpoints, alternatively there is also a descrip

[2022-07-29 21:36] CommanderStorm commented on #16
As discussed in our latest Team Meetig, Android is removing the Chat via https://github.com/TUM-Dev/Campus-Android/pull/1502 in the next release.
Imo, this issue can be closed.

What do the @TUM-Dev/ios people think?

[2022-08-25 10:23] NikolaiMadlener opened #478 "Mensa Widget Integration"
Just saw that a new version (4.0) was released in the app store. I was wondering why the Mensa Widget was not integrated and if it's planned for the near future? It's already merged to main branch. Should I also integrate it to SwiftUI branch or do you plan to merge those branches anyways?

[2022-09-09 10:48] mvitanov opened #482 "Fix iPad view on grades and lectures, weird spacing on lectures and grades logging error"

[2022-09-15 19:24] #420 closed

[2022-09-15 19:24] #482 closed

[2022-09-15 19:24] #411 closed

[2022-09-15 19:25] #400 closed

[2022-09-15 19:25] #380 closed

[2022-09-15 19:25] #405 closed

[2022-09-15 19:25] #419 closed

[2022-09-15 19:29] AW-tum opened #485 "Map Panel position"

[2022-09-15 19:34] mvitanov opened #486 "Fix TumSexy links openning the same link"

[2022-09-15 19:44] CommanderStorm opened #487 "New NavigaTUM lang parameter for `api/get/:id` and `api/preview/:id`"
**Is your feature request related to a problem? Please describe.**
During the development of https://github.com/TUM-Dev/Campus-Android/pull/1462 (more precicely in https://github.com/TUM-Dev/Campus-Android/pull/1462#discussion_r928753511) we noticed, that the navigaTUM API is not localised and thus decided that hacks like https://github.com/TUM-Dev/Campus-Android/blob/3cf41a78a98c622668dcaf81cbb69

[2022-09-15 19:46] mvitanov opened #488 "Fix people search information, something wrong with the API (e.g. Andreas Bernhofer)"

[2022-09-15 19:56] AW-tum commented on #16
We discussed it and decided to close this issue

[2022-09-15 19:56] #16 closed

[2022-09-15 19:58] AW-tum commented on #267
#360

[2022-09-15 19:58] #267 closed

[2022-09-15 19:59] AW-tum commented on #9
Will be handled in https://github.com/TUM-Dev/Campus-iOS/issues/360

[2022-09-15 19:59] #9 closed

[2022-09-15 20:01] #233 closed

[2022-09-15 20:02] AW-tum commented on #268
All notifications will be handled in https://github.com/TUM-Dev/Campus-iOS/issues/360

[2022-09-15 20:02] #268 closed, assigned to nobody

[2022-09-15 20:06] AW-tum commented on #272
Already handled since version 4.0

[2022-09-15 20:06] #272 closed

[2022-09-15 20:07] AW-tum commented on #289
Event info already implemented
All Calendar Customization is handled in #239

[2022-09-15 20:07] #289 closed

[2022-09-15 20:14] AW-tum commented on #304
- we will look into linking the Moodle courses
- the community aspect is really interesting, we will think about an implementation

[2022-09-15 20:16] AW-tum commented on #324
http://ttt.in.tum.de/ has not been updated since 2020 hence we will close this issue for lack of relevance

[2022-09-15 20:16] #324 closed

[2022-09-15 20:18] AW-tum commented on #350
#360

[2022-09-15 20:18] #350 closed

[2022-09-15 20:19] AW-tum commented on #359
#360

[2022-09-15 20:19] #359 closed

[2022-09-15 20:19] AW-tum commented on #362
Completed in version 4.0

[2022-09-15 20:19] #362 closed

[2022-09-15 20:26] #364 closed

[2022-09-15 20:26] AW-tum commented on #366
#360

[2022-09-15 20:26] #366 closed

[2022-09-15 20:28] AW-tum commented on #367
fixed since version 4.0

[2022-09-15 20:28] #367 closed

[2022-09-15 20:28] AW-tum commented on #385
No issues since version 4.0

[2022-09-15 20:28] #385 closed

[2022-09-15 20:29] AW-tum commented on #415
#239

[2022-09-15 20:29] #415 closed

[2022-09-15 20:29] AW-tum commented on #424
#360

[2022-09-15 20:29] #424 closed

[2022-09-15 20:31] AW-tum commented on #431
#360

[2022-09-15 20:31] #431 closed

[2022-09-15 20:36] AW-tum commented on #448
Has been implemented since version 4.0

[2022-09-15 20:36] #448 closed

[2022-09-15 20:37] #452 closed

[2022-09-15 20:37] #456 closed

[2022-09-15 20:38] AW-tum commented on #457
implemented since version 4.0

[2022-09-15 20:38] #457 closed

[2022-09-15 20:43] AW-tum commented on #478
It would be very nice if you could implement it in SwiftUI
The main branch is written on UIKit, so it won't be able to be merged into the SwiftUI branch

[2022-09-15 20:43] AW-tum commented on #478
Currently we merge everything into "swiftui-dev" to then release it to TestFlight

[2022-09-15 20:47] mvitanov opened #489 "Integrate NavigaTUM into Roomfinder"

[2022-09-15 20:48] mvitanov opened #490 "iOS 16 calendar type picker not correctly aligned"

[2022-09-15 20:48] mvitanov opened #491 "Add Credit-Input by User"

[2022-09-15 20:49] AW-tum opened #492 "Change Analytics Info View in Profile"
- move Analytics Section below "Contact us"
- change "weiterlesen" to "Info"
- remove toggle from profile -> move into info view

[2022-09-15 20:51] CommanderStorm commented on #489
The API Documentation is avaliable at <https://nav.tum.sexy/api>
If you have any problems or want a review feel free to ping me

[2022-09-17 18:34] CommanderStorm commented on #487
Duplicate of #489

[2022-09-17 18:34] #487 closed

[2022-09-21 15:58] daviddiblasi opened #493 ""Calendar days in week mode" text is shown twice"
Hey, I think there is an error in Campus-iOS-swiftui-dev/Campus-iOS/ProfileComponent/View in line 96. An else or something is missing.
This results in it showing me the message "Calendar days in week mode" twice. I have iOS 16 and the newest App beta

![image](https://user-images.githubusercontent.com/92635269/191552442-7600e8e6-7c63-4126-90b4-71796d9e5206.png)

[2022-09-27 10:31] AW-tum opened #494 "Improve MapView Panel Drag"

[2022-09-30 19:24] InsanelyHarsh commented on #426
I would like to work on this task. Can you elaborate more, what is the workflow?

[2022-09-30 19:24] InsanelyHarsh commented on #269
I would like to work on this task.

[2022-10-06 18:22] 14slash12 commented on #426
Hey, sorry for the late response. I started to work on this issue, but we have a lot of issues. The best would be if you could join our Discord server since we meet virtual every Thursday at 9pm in the Voice Channel (Lounge). https://discord.gg/kjcPJkYj

[2022-10-06 19:18] #492 closed

[2022-10-06 19:59] 14slash12 opened #498 "Check permissions in TokenActivationView"

[2022-10-06 20:00] 14slash12 opened #499 "Add WebView in TokenActivationView and direct to TUMOnline"

[2022-10-13 19:27] 14slash12 opened #503 "News Issue when running the App in the Background (All News get delted from every NewsSource when going into the Background, due to nested API fetches)"

[2022-10-16 13:11] MagnusSaurbier opened #506 "No day-week-month-selection on Mac app"
Unlike the iOS and iPad OS Versions, the Mac Campus app doesn't show the switch to select day, week or month view above the calendar so you're stuck in day-view.

<img width="1512" alt="Screenshot 2022-10-16 at 15 10 37" src="https://user-images.githubusercontent.com/67559930/196037273-72f553da-f62a-4434-b9b0-aaa0ffba56a0.png">

![IMG_611F1D28A360-1](https://user-images.githubusercontent.com/67559

[2022-10-17 22:09] twihno opened #508 "Background artifacts in tower image"
The tower image used on the login screen still has some background artifacts. When dark mode is active it looks something like this (screenshot taken from github):

![grafik](https://user-images.githubusercontent.com/82888998/196292939-b7179b04-5728-484b-b904-608341a0dfee.png)

Possible fix:
Replace the image with a version without any white artifacts

[2022-10-31 16:32] #494 closed

[2022-10-31 16:33] #485 closed

[2022-11-10 21:10] #498 closed

[2022-11-10 21:10] #499 closed

[2022-11-10 21:12] AW-tum opened #514 "Event Feed"

[2022-11-10 21:13] #490 closed

[2022-11-12 21:00] #508 closed

[2022-11-12 21:02] AW-tum commented on #493
This was an issue with the iOS 16 update

[2022-11-12 21:02] #493 closed

[2022-11-21 09:39] CW963 opened #516 "Digital StudentCard (IOS)"
I was thinking about into cloning my student card into a smaller form factor like a ring or wristband when I looked into [this thread](https://support.apple.com/de-de/HT208965) on the apple support page and found out that Digital StudentCards on IOS are actually a feature at other universities campus apps.

If anybody with the necessary knowledge, enough time and ambition wanted to look into the i

[2022-11-21 10:01] CommanderStorm commented on #516
Related issue: https://github.com/TUM-Dev/Campus-Android/issues/1009